In [446]:
import pandas as pd

# Dataset de 1930 a 2010

In [447]:
df_2010 = pd.read_csv('data/data-19302010.csv')
df_2010

,edition,round,score,team1,team2,url,venue,year
0,1930-URUGUAY,GROUP_STAGE,4-1 (3-0),France,Mexico (México),1930_URUGUAY_FS.htm#1-WC-30-I,Montevideo.,1930
1,1930-URUGUAY,GROUP_STAGE,3-0 (2-0),USA,Belgium (België),1930_URUGUAY_FS.htm#13-WC-30-I,Montevideo.,1930
2,1930-URUGUAY,GROUP_STAGE,2-1 (2-0),Yugoslavia (Југославија),Brazil (Brasil),1930_URUGUAY_FS.htm#7-WC-30-I,Montevideo.,1930
3,1930-URUGUAY,GROUP_STAGE,3-1 (1-0),Romania (România),Peru (Perú),1930_URUGUAY_FS.htm#10-WC-30-I,Montevideo.,1930
4,1930-URUGUAY,GROUP_STAGE,1-0 (0-0),Argentina,France,1930_URUGUAY_FS.htm#2-WC-30-I,Montevideo.,1930
...,...,...,...,...,...,...,...,...
7294,2014-BRAZIL,1/4_FINAL,(C),3,4,2014_BRAZIL_FS.htm#832-WC-14-III,Salvador.,2014
7295,2014-BRAZIL,1/2_FINAL,(X),A,B,2014_BRAZIL_FS.htm#833-WC-14-IV,Belo Horizonte.,2014
7296,2014-BRAZIL,1/2_FINAL,(Y),C,D,2014_BRAZIL_FS.htm#834-WC-14-IV,São_Paulo.,2014
7297,2014-BRAZIL,PLACES_3&4,xxx,LOSER X,LOSER Y,2014_BRAZIL_FS.htm#835-WC-14-V,Brasília.,2014
7298,2014-BRAZIL,_FINAL,xxx,WINNER X,WINNER Y,2014_BRAZIL_FS.htm#836-WC-14-VI,Rio de Janeiro.,2014

In [448]:
df_2010['edition'].unique()

array(['1930-URUGUAY', '1934-ITALY', '1938-FRANCE', '1950-BRAZIL',
       '1954-SWITZERLAND', '1958-SWEDEN', '1962-CHILE', '1966-ENGLAND',
       '1970-MEXICO', '1974-FRG', '1978-ARGENTINA', '1982-SPAIN',
       '1986-MEXICO', '1990-ITALY', '1994-USA', '1998-FRANCE',
       '2002-KOREA/JAPAN', '2006-GERMANY', '2010-SOUTH AFRICA',
       '2014-BRAZIL'], dtype=object)

In [449]:
# AFFICHER TOUTES LES LIGNES OU LA COLONNE 'EDITIONS' est égale à '2006'
df_2010[df_2010['edition'] == '2006-GERMANY']

,edition,round,score,team1,team2,url,venue,year
4587,2006-GERMANY,PRELIMINARY-S.America,2-2 (2-0),Argentina,Chile,2006_GERMANY_PR.htm,Buenos Aires.,2003
4588,2006-GERMANY,PRELIMINARY-S.America,2-0 (1-0),Ecuador,Venezuela,2006_GERMANY_PR.htm,Quito.,2003
4589,2006-GERMANY,PRELIMINARY-S.America,4-1 (2-1),Peru (Perú),Paraguay,2006_GERMANY_PR.htm,Lima.,2003
4590,2006-GERMANY,PRELIMINARY-S.America,1-2 (1-1),Colombia,Brazil (Brasil),2006_GERMANY_PR.htm,Barranquilla.,2003
4591,2006-GERMANY,PRELIMINARY-S.America,5-0 (2-0),Uruguay,Bolivia,2006_GERMANY_PR.htm,Montevideo.,2003
...,...,...,...,...,...,...,...,...
5493,2006-GERMANY,1/4_FINAL,0-1 (0-0),Brazil (Brasil),France,2006_GERMANY_FS.htm#703-WC-06-III,Frankfurt am Main.,2006
5494,2006-GERMANY,1/2_FINAL,0-2 (0-0) (a.e.t.),Germany (Deutschland),Italy (Italia),2006_GERMANY_FS.htm#705-WC-06-IV,Dortmund.,2006
5495,2006-GERMANY,1/2_FINAL,0-1 (0-1),Portugal,France,2006_GERMANY_FS.htm#706-WC-06-IV,München.,2006
5496,2006-GERMANY,PLACES_3&4,3-1 (0-0),Germany (Deutschland),Portugal,2006_GERMANY_FS.htm#707-WC-06-V,Stuttgart.,2006
5497,2006-GERMANY,_FINAL,1-1 (1-1) (a.e.t.) (p.k.),Italy (Italia),France,2006_GERMANY_FS.htm#708-WC-06-VI,Berlin.,2006

In [450]:
# Créer une colonnes ID pour chaque ligne commençant à 1
df_2010['id_match'] = range(1, len(df_2010) + 1)
df_2010

,edition,round,score,team1,team2,url,venue,year,id_match
0,1930-URUGUAY,GROUP_STAGE,4-1 (3-0),France,Mexico (México),1930_URUGUAY_FS.htm#1-WC-30-I,Montevideo.,1930,1
1,1930-URUGUAY,GROUP_STAGE,3-0 (2-0),USA,Belgium (België),1930_URUGUAY_FS.htm#13-WC-30-I,Montevideo.,1930,2
2,1930-URUGUAY,GROUP_STAGE,2-1 (2-0),Yugoslavia (Југославија),Brazil (Brasil),1930_URUGUAY_FS.htm#7-WC-30-I,Montevideo.,1930,3
3,1930-URUGUAY,GROUP_STAGE,3-1 (1-0),Romania (România),Peru (Perú),1930_URUGUAY_FS.htm#10-WC-30-I,Montevideo.,1930,4
4,1930-URUGUAY,GROUP_STAGE,1-0 (0-0),Argentina,France,1930_URUGUAY_FS.htm#2-WC-30-I,Montevideo.,1930,5
...,...,...,...,...,...,...,...,...,...
7294,2014-BRAZIL,1/4_FINAL,(C),3,4,2014_BRAZIL_FS.htm#832-WC-14-III,Salvador.,2014,7295
7295,2014-BRAZIL,1/2_FINAL,(X),A,B,2014_BRAZIL_FS.htm#833-WC-14-IV,Belo Horizonte.,2014,7296
7296,2014-BRAZIL,1/2_FINAL,(Y),C,D,2014_BRAZIL_FS.htm#834-WC-14-IV,São_Paulo.,2014,7297
7297,2014-BRAZIL,PLACES_3&4,xxx,LOSER X,LOSER Y,2014_BRAZIL_FS.htm#835-WC-14-V,Brasília.,2014,7298
7298,2014-BRAZIL,_FINAL,xxx,WINNER X,WINNER Y,2014_BRAZIL_FS.htm#836-WC-14-VI,Rio de Janeiro.,2014,7299

In [451]:
# Renommer la colonne team1 en home_team et team2 en away_team
df_2010.rename(columns={
    'team1': 'home_team', 
    'team2': 'away_team',
    }, inplace=True)
df_2010

,edition,round,score,home_team,away_team,url,venue,year,id_match
0,1930-URUGUAY,GROUP_STAGE,4-1 (3-0),France,Mexico (México),1930_URUGUAY_FS.htm#1-WC-30-I,Montevideo.,1930,1
1,1930-URUGUAY,GROUP_STAGE,3-0 (2-0),USA,Belgium (België),1930_URUGUAY_FS.htm#13-WC-30-I,Montevideo.,1930,2
2,1930-URUGUAY,GROUP_STAGE,2-1 (2-0),Yugoslavia (Југославија),Brazil (Brasil),1930_URUGUAY_FS.htm#7-WC-30-I,Montevideo.,1930,3
3,1930-URUGUAY,GROUP_STAGE,3-1 (1-0),Romania (România),Peru (Perú),1930_URUGUAY_FS.htm#10-WC-30-I,Montevideo.,1930,4
4,1930-URUGUAY,GROUP_STAGE,1-0 (0-0),Argentina,France,1930_URUGUAY_FS.htm#2-WC-30-I,Montevideo.,1930,5
...,...,...,...,...,...,...,...,...,...
7294,2014-BRAZIL,1/4_FINAL,(C),3,4,2014_BRAZIL_FS.htm#832-WC-14-III,Salvador.,2014,7295
7295,2014-BRAZIL,1/2_FINAL,(X),A,B,2014_BRAZIL_FS.htm#833-WC-14-IV,Belo Horizonte.,2014,7296
7296,2014-BRAZIL,1/2_FINAL,(Y),C,D,2014_BRAZIL_FS.htm#834-WC-14-IV,São_Paulo.,2014,7297
7297,2014-BRAZIL,PLACES_3&4,xxx,LOSER X,LOSER Y,2014_BRAZIL_FS.htm#835-WC-14-V,Brasília.,2014,7298
7298,2014-BRAZIL,_FINAL,xxx,WINNER X,WINNER Y,2014_BRAZIL_FS.htm#836-WC-14-VI,Rio de Janeiro.,2014,7299

In [452]:
# Voir les valeur unqiues de la colonne score 
df_2010['score'].unique()

array(['4-1 (3-0)', '3-0 (2-0)', '2-1 (2-0)', '3-1 (1-0)', '1-0 (0-0)',
       '3-0 (1-0)', '4-0 (0-0)', '6-3 (3-1)', '4-0 (1-0)', '1-0 (1-0)',
       '4-0 (4-0)', '3-1 (2-1)', '6-1 (1-0)', '6-1 (3-1)', '4-2 (1-2)',
       '6-2 (4-0)', '0-2 (0-0)', '2-2 (0-0)', '1-2 (0-1)', '2-0 (w.o.)',
       '1-3 (0-1)', '1-1 (0-0)', '0-6 (0-3)', '4-4 (1-2)', '3-2 (3-1)',
       '9-0 (3-0)', '1-9 (1-5)', '5-0 (3-0)', '7-1 (4-0)', '1-2 (1-2)',
       '4-1 (2-1)', '4-0 (2-0)', '1-4 (1-1)', '1-4 (0-4)', '5-2 (1-1)',
       '1-6 (0-2)', '6-1 (3-0)', '4-1 (1-0)', '2-1 (1-0)', '2-4 (0-0)',
       '4-2 (2-1)', '7-1 (3-0)', '3-2 (1-1) (a.e.t.)', '5-2 (1-2)',
       '2-1 (0-1)', '3-2 (2-1)', '3-2 (1-1)', '3-1 (3-0)', '4-2 (2-2)',
       '2-1 (0-0)', '1-1 (1-1) (a.e.t.)', '1-0 (1-0) (r.)',
       '2-1 (0-0) (a.e.t.)', '7-2 (3-2)', '0-2 (0-2)', '4-2 (2-0)',
       '0-1 (0-0)', '4-1 (0-1)', '1-5 (0-4)', '2-1 (2-1)', '3-3 (1-2)',
       '1-1 (0-1)', '5-0 (2-0)', '1-3 (1-2)', '2-3 (2-1)', '11-1 (7-1)',
       '6-0 (1-0)', '2-1 (1-0) (a.e.t.)', '6-0 (4-0)',
       '3-3 (1-1) (a.e.t.)', '6-5 (3-1) (a.e.t.)', '3-0 (0-0) (a.e.t.)',
       '4-2 (1-2) (r.)', '2-1 (0-1) (r.)', '3-1 (1-1)',
       '1-1 (1-0) (a.e.t.)', '2-0 (1-0)', '8-0 (4-0)', '5-1 (3-1)',
       '4-2 (3-1)', '5-2 (3-1)', '1-1 (1-1)', '2-5 (0-3)', '6-2 (3-0)',
       '5-2 (4-1)', '0-3 (0-1)', '2-8 (0-5)', '8-1 (5-1)', '1-1 (1-0)',
       '1-4 (0-3)', '1-3 (0-2)', '9-2 (4-0)', '7-0 (3-0)', '2-0 (0-0)',
       '0-0 (0-0)', '2-2 (0-1)', '3-1 (0-1)', '3-0 (0-0)', '2-2 (2-1)',
       '4-1 (2-0)', '2-0 (2-0)', '5-2 (2-0)', '2-2 (1-2)', '3-2 (1-2)',
       '3-1 (2-0)', '2-4 (0-3)', '2-3 (2-3)', '2-3 (2-2)', '8-0 (5-0)',
       '3-3 (0-2)', '1-2 (0-2)', '1-6 (1-4)', '2-2 (2-0)', '9-1 (4-0)',
       '1-3 (0-0)', '3-5 (0-2)', '1-2 (1-1)', '0-1 (0-1)', '3-3 (2-0)',
       '1-2 (1-0)', '5-1 (1-1)', '0-4 (0-2)', '4-1 (1-1)', '1-3 (1-1)',
       '0-2 (0-1)', '1-5 (1-2)', '2-2 (1-1)', '4-1 (0-0)', '2-4 (1-1)',
       '2-3 (0-1)', '5-0 (4-0)', '2-1 (1-1)', '9-0 (4-0)',
       '4-4 (2-1) (a.e.t.)', '7-0 (2-0)', '1-1 (0-0) (a.e.t.)',
       '3-2 (1-0)', '8-3 (3-1)', '7-0 (4-0)', '7-2 (3-1) (r.)',
       '4-1 (1-0) (r.)', '7-5 (5-4)', '4-2 (1-0) (a.e.t.)', '3-2 (2-2)',
       '6-3 (4-1)', '5-2 (2-1)', '2-6 (1-4)', '6-0 (3-0)', '2-7 (2-3)',
       '5-1 (4-0)', '3-2 (0-2)', '4-3 (2-1)', '8-3 (7-1)', '2-3 (1-1)',
       '5-1 (2-1)', '2-3 (1-3)', '5-0 (1-0)', '0-10 (0-7)', '1-5 (0-2)',
       '2-5 (1-2)', '2-5 (1-4)', '1-4 (1-3)', '1-4 (0-2)', '7-3 (2-2)',
       '2-2 (0-2)', '3-3 (2-1)', '2-1 (1-1) (a.e.t.) (r.)',
       '1-0 (0-0) (r.)', '0-9 (0-4)', '3-4 (1-1)', '3-3 (1-3)',
       '3-0 (3-0)', '2-4 (1-2)', '0-3 (0-3)', '3-6 (0-4)', '0-3 (0-2)',
       '4-0 (3-0)', '5-2 (3-0)', '0-3 (0-0)', '4-2 (1-0)', '5-1 (1-0)',
       '2-4 (2-0)', '3-3 (2-2)', '4-2 (0-1)', '4-4 (3-1)', '6-1 (4-0)',
       '3-1 (0-0)', '4-1 (3-1)', '6-1 (4-1)', '7-0 (1-0)', '3-6 (1-3)',
       '7-2 (4-0)', '1-4 (1-2)', '7-0 (6-0)', '6-1 (2-0)', '4-1 (4-1)',
       '0-5 (0-4)', '0-5 (0-3)', '0-6 (0-2)', '5-3 (2-3)',
       '4-2 (1-1) (a.e.t.)', '9-1 (2-0)', '4-2 (1-1)', '6-2 (2-1)',
       '0-4 (0-1)', '0-5 (0-5)', '1-2 (0-0)', '2-3 (1-2)', '2-2 (1-0)',
       '8-1 (3-0)', '8-0 (3-0)', '12-0 (7-0)', '1-5 (1-3)', '0-5 (0-0)',
       '6-0 (5-0)', '2-2 (2-2)', '3-3 (1-0)', '1-5 (1-0)', '3-2 (0-1)',
       '3-1 (3-1)', '1-0 (0-0) (a.e.t.)', '3-2 (0-1) (a.e.t.)',
       '4-3 (1-0) (a.e.t.)', '5-1 (2-0)', '7-0 (5-0)', '0-5 (0-2)',
       '3-2 (2-0)', '0-4 (0-3)', '5-0 (0-0)', '9-0 (1-0)', '11-1 (4-1)',
       '6-0 (2-0)', '0-2 (w.o.)', '3-3 (3-1)', '1-5 (0-3)', '6-0 (0-0)',
       '3-3 (1-1)', '1-8 (1-4)', '9-0 (5-0)', '2-4 (2-2)', '9-0 (6-0)',
       '0-7 (0-5)', '1-1 (1-0) (p.k.)', '6-4 (4-1)', '8-1 (3-1)',
       '4-6 (3-2)', '5-1 (3-0)', '3-1 (1-0) (a.e.t.)', '5-2 (2-2)',
       '2-3 (0-2)', '2-0 (1-0) (p.k.)', '0-7 (0-4)', '2-0 (0-0) (p.k.)',
       '0-0 (0-0) (p.k.)', '3-3 (2-3)', '10-0 (3-0)', '13-0 (7-0)',
       '7-1 (2-1)', '10-1 (3-0)', '5-1 (0-0)', '3-2 (3-0)',
       '3-3 (1-1) (a.e.t.) (p.k.)', '1-0 (1-0) (p.k.)', '0-4 (0-4)',
       '1-3 (1-3)', '0-8 (0-3)', '7-1 (3-1)', '6-2 (4-2)', '8-0 (2-0)',
       '5-0 (5-0)', '4-1 (4-0)', '3-3 (0-1)', '1-4 (0-1)', '1-3 (0-3)',
       '0-8 (0-1)', '6-1 (2-1)', '3-4 (1-0) (a.e.t.)', '1-5 (1-1)',
       '1-1 (1-1) (a.e.t.) (p.k.)', '0-0 (0-0) (a.e.t.) (p.k.)',
       '1-1 (0-1) (a.e.t.) (p.k.)', '4-2 (2-1) (a.e.t.)', '5-4 (2-1)',
       '0-5 (0-1)', '1-2 (0-0) (a.e.t.)', '3-2 (1-0) (a.e.t.)',
       '1-1 (1-0) (a.e.t.) (p.k.)', '1-1 (0-0) (a.e.t.) (p.k.)',
       '5-1 (5-0)', '10-0 (4-0)', '6-1 (1-1)', '4-2 (3-0)', '2-3 (2-0)',
       '11-0 (6-0)', '1-10 (0-2)', '1-6 (1-3)', '0-8 (0-4)', '8-1 (6-1)',
       '0-6 (0-4)', '1-7 (0-3)', '1-7 (1-3)', '1-5 (0-1)',
       '2-1 (1-0) (p.k.)', '0-7 (0-3)', '1-2 (1-0) (a.e.t.)', '2-3 (0-0)',
       '2-2 (0-0) (a.e.t.) (p.k.)', '8-0 (6-0)', '2-6 (0-1)', '1-3 (1-0)',
       '1-8 (1-5)', '2-5 (1-1)', '7-1 (4-1)', '1-11 (0-6)', '2-4 (0-2)',
       '11-3 (5-1)', '0-10 (0-3)', '0-6 (0-1)', '4-3 (0-2)', '2-6 (1-2)',
       '3-0 (w.o.)', '0-17 (0-6)', '0-7 (0-1)', '0-12 (0-1)', '9-0 (7-0)',
       '13-0 (4-0)', '2-6 (0-3)', '10-0 (6-0)', '6-4 (3-3)', '1-8 (0-6)',
       '6-3 (4-0)', '2-4 (1-0)', '2-3 (1-0)', '4-3 (0-0)', '1-7 (0-5)',
       '5-3 (2-1)', '2-2 (2-2) (a.e.t.) (p.k.)', '4-2 (0-2)',
       '1-0 (0-0) (p.k.)', '9-0 (2-0)', '4-4 (0-1)', '9-1 (4-1)',
       '1-1 (0-0) (p.k.)', '8-1 (4-0)', '2-5 (1-3)', '5-1 (4-1)',
       '0-4 (0-0)', '0-6 (0-5)', '0-7 (0-2)', '19-0 (8-0)', '16-0 (7-0)',
       '6-0 (6-0)', '5-2 (3-2)', '4-3 (1-2)', '13-0 (8-0)', '0-22 (0-10)',
       '31-0 (16-0)', '0-12 (0-5)', '11-0 (3-0)', '1-8 (0-4)',
       '10-1 (4-0)', '1-6 (0-1)', '12-0 (5-0)', '12-0 (8-0)', '2-5 (2-2)',
       '11-0 (4-0)', '0-9 (0-3)', '5-1 (0-1)', '1-6 (0-3)', '9-1 (3-1)',
       '1-8 (1-3)', '2-7 (1-1)', '8-2 (5-0)', '2-4 (2-1)', '1-7 (1-5)',
       '6-2 (1-1)', '1-4 (0-0)', '3-3 (3-0)', '1-2 (1-1) (a.e.t.)',
       '2-1 (0-1) (a.e.t.)', '0-1 (0-0) (a.e.t.)', '3-4 (0-3)',
       '12-0 (4-0)', '13-0 (6-0)', '8-1 (4-1)', '1-9 (1-3)', '11-0 (7-0)',
       '2-4 (0-1)', '10-0 (5-0)', '3-2 (3-2)', '0-10 (0-5)', '3-4 (1-2)',
       '2-5 (0-2)', '4-3 (2-0)', '6-1 (5-0)', '2-5 (2-3)',
       '2-1 (1-1) (a.e.t.)', '0-2 (0-0) (a.e.t.)', '16-0 (10-0)',
       '12-1 (5-0)', '0-15 (0-5)', '8-1 (2-0)', '5-3 (2-2)', '1-7 (0-2)',
       '8-1 (2-1)', '3-7 (2-5)', '0-3 (w.o.)', '3-4 (2-2)', '3-2 (0-0)',
       '0-1 (1-1)', '1-4 (1-4)', '6-2 (6-1)', '1-2 (0-1) (a.e.t.)',
       '1-7 (0-4)', '7-2 (1-2)', '5-3 (4-1)', '4-3 (3-0)', '2-4 (0-4)',
       '1-8 (0-2)', '1-4 (1-0)', '2-5 (0-1)', '1-10 (0-4)', '4-4 (3-0)',
       '0-8 (0-5)', '4-3 (2-2)', '2-4 (2-3)', '3-3 (0-3)', '3-5 (2-1)',
       'xxx', '(1)', '(2)', '(3)', '(4)', '(5)', '(6)', '(7)', '(8)',
       '(B)', '(A)', '(D)', '(C)', '(X)', '(Y)'], dtype=object)

In [453]:
# split la colonne score et récupérer la première valeur
df_2010['score'] = df_2010['score'].str.split(' ').str[0]

In [454]:
df_2010['home_result'] = df_2010['score'].str.split('-').str[0]
df_2010['away_result'] = df_2010['score'].str.split('-').str[1]

df_2010.head()

,edition,round,score,home_team,away_team,url,venue,year,id_match,home_result,away_result
0,1930-URUGUAY,GROUP_STAGE,4-1,France,Mexico (México),1930_URUGUAY_FS.htm#1-WC-30-I,Montevideo.,1930,1,4,1
1,1930-URUGUAY,GROUP_STAGE,3-0,USA,Belgium (België),1930_URUGUAY_FS.htm#13-WC-30-I,Montevideo.,1930,2,3,0
2,1930-URUGUAY,GROUP_STAGE,2-1,Yugoslavia (Југославија),Brazil (Brasil),1930_URUGUAY_FS.htm#7-WC-30-I,Montevideo.,1930,3,2,1
3,1930-URUGUAY,GROUP_STAGE,3-1,Romania (România),Peru (Perú),1930_URUGUAY_FS.htm#10-WC-30-I,Montevideo.,1930,4,3,1
4,1930-URUGUAY,GROUP_STAGE,1-0,Argentina,France,1930_URUGUAY_FS.htm#2-WC-30-I,Montevideo.,1930,5,1,0

In [455]:
# surppimer les points à la fin de venue 
df_2010['venue'] = df_2010['venue'].str.replace('.', '')

In [456]:
for i in df_2010['round'].unique():
    print(i)

GROUP_STAGE
1/2_FINAL
_FINAL
PRELIMINARY-Europe
PRELIMINARY-N/C.America
PRELIMINARY-N.E.
FIRST
1/4_FINAL
PLACES_3&4
PRELIMINARY-Eur./N.E.
PRELIMINARY-S.America
FINAL_ROUND
PRELIMINARY-Eu./Afr.
PRELIMINARY-Asia
PRELIMINARY-Afr./As.
PRELIMINARY-Euro/As.
PRELIMINARY-E./Afr./As.
PRELIMINARY-Af./As./O.
PRELIMINARY-Africa
PRELIMINARY-As./O.
SEMIFINAL_STAGE
QUARTERFINAL_STAGE
PRELIMINARY-O./As.
1/8_FINAL
PRELIMINARY-Oceania

In [457]:
def round_clean(x):
    if x == '_FINAL' or x == 'FINAL_ROUND':
        return 'final'
    elif x == '_SEMIFINAL' or x == '1/2_FINAL' or x == 'SEMIFINAL_STAGE':
        return 'semifinal'
    elif x.startswith('PRELIMINARY'):
        return 'preliminary'
    elif x == "GROUP_STAGE":
        return 'group'
    elif x == '1/4_FINAL' or 'QUARTERFINAL_STAGE':
        return 'quarterfinal'
    elif x == '1/8_FINAL':
        return 'eighthfinal'
    elif x == 'PLACES_3&4':
        return 'littlefinal'
    else :
        return "first"
    
df_2010['round'] = df_2010['round'].apply(round_clean)
df_2010

,edition,round,score,home_team,away_team,url,venue,year,id_match,home_result,away_result
0,1930-URUGUAY,group,4-1,France,Mexico (México),1930_URUGUAY_FS.htm#1-WC-30-I,Montevideo,1930,1,4,1
1,1930-URUGUAY,group,3-0,USA,Belgium (België),1930_URUGUAY_FS.htm#13-WC-30-I,Montevideo,1930,2,3,0
2,1930-URUGUAY,group,2-1,Yugoslavia (Југославија),Brazil (Brasil),1930_URUGUAY_FS.htm#7-WC-30-I,Montevideo,1930,3,2,1
3,1930-URUGUAY,group,3-1,Romania (România),Peru (Perú),1930_URUGUAY_FS.htm#10-WC-30-I,Montevideo,1930,4,3,1
4,1930-URUGUAY,group,1-0,Argentina,France,1930_URUGUAY_FS.htm#2-WC-30-I,Montevideo,1930,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...
7294,2014-BRAZIL,quarterfinal,(C),3,4,2014_BRAZIL_FS.htm#832-WC-14-III,Salvador,2014,7295,(C),NaN
7295,2014-BRAZIL,semifinal,(X),A,B,2014_BRAZIL_FS.htm#833-WC-14-IV,Belo Horizonte,2014,7296,(X),NaN
7296,2014-BRAZIL,semifinal,(Y),C,D,2014_BRAZIL_FS.htm#834-WC-14-IV,São_Paulo,2014,7297,(Y),NaN
7297,2014-BRAZIL,quarterfinal,xxx,LOSER X,LOSER Y,2014_BRAZIL_FS.htm#835-WC-14-V,Brasília,2014,7298,xxx,NaN
7298,2014-BRAZIL,final,xxx,WINNER X,WINNER Y,2014_BRAZIL_FS.htm#836-WC-14-VI,Rio de Janeiro,2014,7299,xxx,NaN

In [458]:
# Supprimer les lignes qui commencent par 2014
df_2010 = df_2010[~df_2010['edition'].str.startswith('2014-BR')]

In [459]:
df_2010

,edition,round,score,home_team,away_team,url,venue,year,id_match,home_result,away_result
0,1930-URUGUAY,group,4-1,France,Mexico (México),1930_URUGUAY_FS.htm#1-WC-30-I,Montevideo,1930,1,4,1
1,1930-URUGUAY,group,3-0,USA,Belgium (België),1930_URUGUAY_FS.htm#13-WC-30-I,Montevideo,1930,2,3,0
2,1930-URUGUAY,group,2-1,Yugoslavia (Југославија),Brazil (Brasil),1930_URUGUAY_FS.htm#7-WC-30-I,Montevideo,1930,3,2,1
3,1930-URUGUAY,group,3-1,Romania (România),Peru (Perú),1930_URUGUAY_FS.htm#10-WC-30-I,Montevideo,1930,4,3,1
4,1930-URUGUAY,group,1-0,Argentina,France,1930_URUGUAY_FS.htm#2-WC-30-I,Montevideo,1930,5,1,0
...,...,...,...,...,...,...,...,...,...,...,...
6410,2010-SOUTH AFRICA,quarterfinal,0-1,Paraguay,Spain (España),2010_SA_FS.htm#768-WC-10-III,Johannesburg,2010,6411,0,1
6411,2010-SOUTH AFRICA,semifinal,2-3,Uruguay,Netherlands (Nederland),2010_SA_FS.htm#769-WC-10-IV,Cape Town,2010,6412,2,3
6412,2010-SOUTH AFRICA,semifinal,0-1,Germany (Deutschland),Spain (España),2010_SA_FS.htm#770-WC-10-IV,Durban,2010,6413,0,1
6413,2010-SOUTH AFRICA,quarterfinal,2-3,Uruguay,Germany (Deutschland),2010_SA_FS.htm#771-WC-10-V,Port_Elizabeth,2010,6414,2,3
6414,2010-SOUTH AFRICA,final,0-1,Netherlands (Nederland),Spain (España),2010_SA_FS.htm#772-WC-10-VI,Johannesburg,2010,6415,0,1

In [460]:
df_2010 = df_2010[['id_match', 'home_team', 'away_team', 'home_result', 'away_result', 'year', 'round', 'venue', 'edition']]
df_2010

,id_match,home_team,away_team,home_result,away_result,year,round,venue,edition
0,1,France,Mexico (México),4,1,1930,group,Montevideo,1930-URUGUAY
1,2,USA,Belgium (België),3,0,1930,group,Montevideo,1930-URUGUAY
2,3,Yugoslavia (Југославија),Brazil (Brasil),2,1,1930,group,Montevideo,1930-URUGUAY
3,4,Romania (România),Peru (Perú),3,1,1930,group,Montevideo,1930-URUGUAY
4,5,Argentina,France,1,0,1930,group,Montevideo,1930-URUGUAY
...,...,...,...,...,...,...,...,...,...
6410,6411,Paraguay,Spain (España),0,1,2010,quarterfinal,Johannesburg,2010-SOUTH AFRICA
6411,6412,Uruguay,Netherlands (Nederland),2,3,2010,semifinal,Cape Town,2010-SOUTH AFRICA
6412,6413,Germany (Deutschland),Spain (España),0,1,2010,semifinal,Durban,2010-SOUTH AFRICA
6413,6414,Uruguay,Germany (Deutschland),2,3,2010,quarterfinal,Port_Elizabeth,2010-SOUTH AFRICA
6414,6415,Netherlands (Nederland),Spain (España),0,1,2010,final,Johannesburg,2010-SOUTH AFRICA

In [461]:
# rename la colonne year en ate et venue en city 
df_2010.rename(columns={
    'year': 'date',
    'venue': 'city',
    }, inplace=True)
df_2010

/tmp/ipykernel_82499/2762849080.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2010.rename(columns={

,id_match,home_team,away_team,home_result,away_result,date,round,city,edition
0,1,France,Mexico (México),4,1,1930,group,Montevideo,1930-URUGUAY
1,2,USA,Belgium (België),3,0,1930,group,Montevideo,1930-URUGUAY
2,3,Yugoslavia (Југославија),Brazil (Brasil),2,1,1930,group,Montevideo,1930-URUGUAY
3,4,Romania (România),Peru (Perú),3,1,1930,group,Montevideo,1930-URUGUAY
4,5,Argentina,France,1,0,1930,group,Montevideo,1930-URUGUAY
...,...,...,...,...,...,...,...,...,...
6410,6411,Paraguay,Spain (España),0,1,2010,quarterfinal,Johannesburg,2010-SOUTH AFRICA
6411,6412,Uruguay,Netherlands (Nederland),2,3,2010,semifinal,Cape Town,2010-SOUTH AFRICA
6412,6413,Germany (Deutschland),Spain (España),0,1,2010,semifinal,Durban,2010-SOUTH AFRICA
6413,6414,Uruguay,Germany (Deutschland),2,3,2010,quarterfinal,Port_Elizabeth,2010-SOUTH AFRICA
6414,6415,Netherlands (Nederland),Spain (España),0,1,2010,final,Johannesburg,2010-SOUTH AFRICA

In [462]:
df_2010['home_team'] = df_2010['home_team'].str.split(' ').str[0]
df_2010['away_team'] = df_2010['away_team'].str.split(' ').str[0]

df_2010

/tmp/ipykernel_82499/3421668149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2010['home_team'] = df_2010['home_team'].str.split(' ').str[0]
/tmp/ipykernel_82499/3421668149.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2010['away_team'] = df_2010['away_team'].str.split(' ').str[0]

,id_match,home_team,away_team,home_result,away_result,date,round,city,edition
0,1,France,Mexico,4,1,1930,group,Montevideo,1930-URUGUAY
1,2,USA,Belgium,3,0,1930,group,Montevideo,1930-URUGUAY
2,3,Yugoslavia,Brazil,2,1,1930,group,Montevideo,1930-URUGUAY
3,4,Romania,Peru,3,1,1930,group,Montevideo,1930-URUGUAY
4,5,Argentina,France,1,0,1930,group,Montevideo,1930-URUGUAY
...,...,...,...,...,...,...,...,...,...
6410,6411,Paraguay,Spain,0,1,2010,quarterfinal,Johannesburg,2010-SOUTH AFRICA
6411,6412,Uruguay,Netherlands,2,3,2010,semifinal,Cape Town,2010-SOUTH AFRICA
6412,6413,Germany,Spain,0,1,2010,semifinal,Durban,2010-SOUTH AFRICA
6413,6414,Uruguay,Germany,2,3,2010,quarterfinal,Port_Elizabeth,2010-SOUTH AFRICA
6414,6415,Netherlands,Spain,0,1,2010,final,Johannesburg,2010-SOUTH AFRICA

# Data de 2014

In [463]:
df_2014 = pd.read_csv('data/data-2014.csv', sep=';')
df_2014

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,2014,12 Jun 2014 - 17:00,Group A,Arena de Sao Paulo,Sao Paulo,Brazil,3,1,Croatia,,62103.0,1,1,NISHIMURA Yuichi (JPN),SAGARA Toru (JPN),NAGI Toshiyuki (JPN),255931,300186456,BRA,CRO
1,2014,13 Jun 2014 - 13:00,Group A,Estadio das Dunas,Natal,Mexico,1,0,Cameroon,,39216.0,0,0,ROLDAN Wilmar (COL),CLAVIJO Humberto (COL),DIAZ Eduardo (COL),255931,300186492,MEX,CMR
2,2014,13 Jun 2014 - 16:00,Group B,Arena Fonte Nova,Salvador,Spain,1,5,Netherlands,,48173.0,1,1,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255931,300186510,ESP,NED
3,2014,13 Jun 2014 - 18:00,Group B,Arena Pantanal,Cuiaba,Chile,3,1,Australia,,40275.0,2,1,Noumandiez DOUE (CIV),YEO Songuifolo (CIV),BIRUMUSHAHU Jean Claude (BDI),255931,300186473,CHI,AUS
4,2014,14 Jun 2014 - 13:00,Group C,Estadio Mineirao,Belo Horizonte,Colombia,3,0,Greece,,57174.0,1,0,GEIGER Mark (USA),HURD Sean (USA),FLETCHER Joe (CAN),255931,300186471,COL,GRE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2014,05 Jul 2014 - 17:00,Quarter-finals,Arena Fonte Nova,Salvador,Netherlands,0,0,Costa Rica,Netherlands win on penalties (4 - 3),51179.0,0,0,Ravshan IRMATOV (UZB),RASULOV Abduxamidullo (UZB),KOCHKAROV Bakhadyr (KGZ),255953,300186488,NED,CRC
76,2014,08 Jul 2014 - 17:00,Semi-finals,Estadio Mineirao,Belo Horizonte,Brazil,1,7,Germany,,58141.0,0,5,RODRIGUEZ Marco (MEX),TORRENTERA Marvin (MEX),QUINTERO Marcos (MEX),255955,300186474,BRA,GER
77,2014,09 Jul 2014 - 17:00,Semi-finals,Arena de Sao Paulo,Sao Paulo,Netherlands,0,0,Argentina,Argentina win on penalties (2 - 4),63267.0,0,0,C�neyt �AKIR (TUR),DURAN Bahattin (TUR),ONGUN Tarik (TUR),255955,300186490,NED,ARG
78,2014,12 Jul 2014 - 17:00,Play-off for third place,Estadio Nacional,Brasilia,Brazil,0,3,Netherlands,,68034.0,0,2,HAIMOUDI Djamel (ALG),ACHIK Redouane (MAR),ETCHIALI Abdelhak (ALG),255957,300186502,BRA,NED
79,2014,13 Jul 2014 - 16:00,Final,Estadio do Maracana,Rio De Janeiro,Germany,1,0,Argentina,Germany win after extra time,74738.0,0,0,Nicola RIZZOLI (ITA),Renato FAVERANI (ITA),Andrea STEFANI (ITA),255959,300186501,GER,ARG

In [464]:
df_2014.drop(columns=['Datetime', 'Stadium', 'Win conditions', 'Attendance', 'Half-time Home Goals', 'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2', 'RoundID', 'MatchID', "Home Team Initials", 'Away Team Initials'], inplace=True)

In [465]:
df_2014

,Year,Stage,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name
0,2014,Group A,Sao Paulo,Brazil,3,1,Croatia
1,2014,Group A,Natal,Mexico,1,0,Cameroon
2,2014,Group B,Salvador,Spain,1,5,Netherlands
3,2014,Group B,Cuiaba,Chile,3,1,Australia
4,2014,Group C,Belo Horizonte,Colombia,3,0,Greece
...,...,...,...,...,...,...,...
75,2014,Quarter-finals,Salvador,Netherlands,0,0,Costa Rica
76,2014,Semi-finals,Belo Horizonte,Brazil,1,7,Germany
77,2014,Semi-finals,Sao Paulo,Netherlands,0,0,Argentina
78,2014,Play-off for third place,Brasilia,Brazil,0,3,Netherlands
79,2014,Final,Rio De Janeiro,Germany,1,0,Argentina

In [466]:
# Créer une colone id_mach qui commenece à 6416 
df_2014['id_match'] = range(6416, 6416 + len(df_2014))
df_2014

,Year,Stage,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,id_match
0,2014,Group A,Sao Paulo,Brazil,3,1,Croatia,6416
1,2014,Group A,Natal,Mexico,1,0,Cameroon,6417
2,2014,Group B,Salvador,Spain,1,5,Netherlands,6418
3,2014,Group B,Cuiaba,Chile,3,1,Australia,6419
4,2014,Group C,Belo Horizonte,Colombia,3,0,Greece,6420
...,...,...,...,...,...,...,...,...
75,2014,Quarter-finals,Salvador,Netherlands,0,0,Costa Rica,6491
76,2014,Semi-finals,Belo Horizonte,Brazil,1,7,Germany,6492
77,2014,Semi-finals,Sao Paulo,Netherlands,0,0,Argentina,6493
78,2014,Play-off for third place,Brasilia,Brazil,0,3,Netherlands,6494
79,2014,Final,Rio De Janeiro,Germany,1,0,Argentina,6495

In [467]:
df_2014['Stage'].unique()

array(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F',
       'Group G', 'Group H', 'Round of 16', 'Quarter-finals',
       'Semi-finals', 'Play-off for third place', 'Final'], dtype=object)

In [468]:
def round_clean(x):
    if x == 'Final' or x == 'FINAL_ROUND':
        return 'final'
    elif x == 'Semi-finals' or x == '1/2_FINAL' or x == 'SEMIFINAL_STAGE':
        return 'semifinal'
    elif x.startswith('PRELIMINARY'):
        return 'preliminary'
    elif x.startswith('Group'):
        return 'group'
    elif x == '1/4_FINAL' or 'Quarter-finals':
        return 'quarterfinal'
    elif x == '1/8_FINAL' or x == 'Round of 16':
        return 'eighthfinal'
    elif x == 'Play-off for third place':
        return 'littlefinal'
    else :
        return "first"
    
df_2014['round'] = df_2014['Stage'].apply(round_clean)
df_2014

,Year,Stage,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,id_match,round
0,2014,Group A,Sao Paulo,Brazil,3,1,Croatia,6416,group
1,2014,Group A,Natal,Mexico,1,0,Cameroon,6417,group
2,2014,Group B,Salvador,Spain,1,5,Netherlands,6418,group
3,2014,Group B,Cuiaba,Chile,3,1,Australia,6419,group
4,2014,Group C,Belo Horizonte,Colombia,3,0,Greece,6420,group
...,...,...,...,...,...,...,...,...,...
75,2014,Quarter-finals,Salvador,Netherlands,0,0,Costa Rica,6491,quarterfinal
76,2014,Semi-finals,Belo Horizonte,Brazil,1,7,Germany,6492,semifinal
77,2014,Semi-finals,Sao Paulo,Netherlands,0,0,Argentina,6493,semifinal
78,2014,Play-off for third place,Brasilia,Brazil,0,3,Netherlands,6494,quarterfinal
79,2014,Final,Rio De Janeiro,Germany,1,0,Argentina,6495,final

In [469]:
# rename la colonne year en ate et venue en city 
df_2014.rename(columns={
    'Year': 'date',
    'City': 'city',
    'Home Team Name' : 'home_team',
    'Away Team Name' : 'away_team',
    'Home Team Goals' : 'home_result',
    'Away Team Goals' : 'away_result'
    }, inplace=True)
df_2014

,date,Stage,city,home_team,home_result,away_result,away_team,id_match,round
0,2014,Group A,Sao Paulo,Brazil,3,1,Croatia,6416,group
1,2014,Group A,Natal,Mexico,1,0,Cameroon,6417,group
2,2014,Group B,Salvador,Spain,1,5,Netherlands,6418,group
3,2014,Group B,Cuiaba,Chile,3,1,Australia,6419,group
4,2014,Group C,Belo Horizonte,Colombia,3,0,Greece,6420,group
...,...,...,...,...,...,...,...,...,...
75,2014,Quarter-finals,Salvador,Netherlands,0,0,Costa Rica,6491,quarterfinal
76,2014,Semi-finals,Belo Horizonte,Brazil,1,7,Germany,6492,semifinal
77,2014,Semi-finals,Sao Paulo,Netherlands,0,0,Argentina,6493,semifinal
78,2014,Play-off for third place,Brasilia,Brazil,0,3,Netherlands,6494,quarterfinal
79,2014,Final,Rio De Janeiro,Germany,1,0,Argentina,6495,final

In [470]:
df_2014 = df_2014[['id_match', 'home_team', 'away_team', 'home_result', 'away_result', 'date', 'round', 'city']]
df_2014

,id_match,home_team,away_team,home_result,away_result,date,round,city
0,6416,Brazil,Croatia,3,1,2014,group,Sao Paulo
1,6417,Mexico,Cameroon,1,0,2014,group,Natal
2,6418,Spain,Netherlands,1,5,2014,group,Salvador
3,6419,Chile,Australia,3,1,2014,group,Cuiaba
4,6420,Colombia,Greece,3,0,2014,group,Belo Horizonte
...,...,...,...,...,...,...,...,...
75,6491,Netherlands,Costa Rica,0,0,2014,quarterfinal,Salvador
76,6492,Brazil,Germany,1,7,2014,semifinal,Belo Horizonte
77,6493,Netherlands,Argentina,0,0,2014,semifinal,Sao Paulo
78,6494,Brazil,Netherlands,0,3,2014,quarterfinal,Brasilia
79,6495,Germany,Argentina,1,0,2014,final,Rio De Janeiro

In [471]:
# Creation de la colonne edition avec la valeur : 2014-BRAZIL	
df_2014['edition'] = '2014-BRAZIL'
df_2014

,id_match,home_team,away_team,home_result,away_result,date,round,city,edition
0,6416,Brazil,Croatia,3,1,2014,group,Sao Paulo,2014-BRAZIL
1,6417,Mexico,Cameroon,1,0,2014,group,Natal,2014-BRAZIL
2,6418,Spain,Netherlands,1,5,2014,group,Salvador,2014-BRAZIL
3,6419,Chile,Australia,3,1,2014,group,Cuiaba,2014-BRAZIL
4,6420,Colombia,Greece,3,0,2014,group,Belo Horizonte,2014-BRAZIL
...,...,...,...,...,...,...,...,...,...
75,6491,Netherlands,Costa Rica,0,0,2014,quarterfinal,Salvador,2014-BRAZIL
76,6492,Brazil,Germany,1,7,2014,semifinal,Belo Horizonte,2014-BRAZIL
77,6493,Netherlands,Argentina,0,0,2014,semifinal,Sao Paulo,2014-BRAZIL
78,6494,Brazil,Netherlands,0,3,2014,quarterfinal,Brasilia,2014-BRAZIL
79,6495,Germany,Argentina,1,0,2014,final,Rio De Janeiro,2014-BRAZIL

In [472]:
# Concaténation des deux dataframes et reset de l'index
df = pd.concat([df_2010, df_2014]).reset_index(drop=True)
df

,id_match,home_team,away_team,home_result,away_result,date,round,city,edition
0,1,France,Mexico,4,1,1930,group,Montevideo,1930-URUGUAY
1,2,USA,Belgium,3,0,1930,group,Montevideo,1930-URUGUAY
2,3,Yugoslavia,Brazil,2,1,1930,group,Montevideo,1930-URUGUAY
3,4,Romania,Peru,3,1,1930,group,Montevideo,1930-URUGUAY
4,5,Argentina,France,1,0,1930,group,Montevideo,1930-URUGUAY
...,...,...,...,...,...,...,...,...,...
6490,6491,Netherlands,Costa Rica,0,0,2014,quarterfinal,Salvador,2014-BRAZIL
6491,6492,Brazil,Germany,1,7,2014,semifinal,Belo Horizonte,2014-BRAZIL
6492,6493,Netherlands,Argentina,0,0,2014,semifinal,Sao Paulo,2014-BRAZIL
6493,6494,Brazil,Netherlands,0,3,2014,quarterfinal,Brasilia,2014-BRAZIL
6494,6495,Germany,Argentina,1,0,2014,final,Rio De Janeiro,2014-BRAZIL

# Data de 2018

In [473]:
import json

# Open and read the JSON file
with open('data/data-2018.json', 'r') as file:
    data = json.load(file)

# Print the data
print(data.keys())

dict_keys(['stadiums', 'tvchannels', 'teams', 'groups', 'knockout'])

In [474]:
df_stadiums = pd.DataFrame.from_dict(data["stadiums"])   
df_stadiums

,id,name,city,lat,lng,image
0,1,Luzhniki Stadium,Moscow,55.715765,37.551522,https://upload.wikimedia.org/wikipedia/commons...
1,2,Otkrytiye Arena,Moscow,55.817765,37.440363,https://upload.wikimedia.org/wikipedia/commons...
2,3,Krestovsky Stadium,Saint Petersburg,59.972740,30.221408,https://upload.wikimedia.org/wikipedia/commons...
3,4,Kaliningrad Stadium,Kaliningrad,54.698157,20.533859,https://upload.wikimedia.org/wikipedia/commons...
4,5,Kazan Arena,Kazan,55.820983,49.160966,https://upload.wikimedia.org/wikipedia/commons...
5,6,Nizhny Novgorod Stadium,Nizhny Novgorod,56.337287,43.963251,https://upload.wikimedia.org/wikipedia/commons...
6,7,Cosmos Arena,Samara,53.278146,50.238854,http://img.fifa.com/image/upload/t_l4/d0mymt1u...
7,8,Volgograd Arena,Volgograd,48.734195,44.548345,https://upload.wikimedia.org/wikipedia/commons...
8,9,Mordovia Arena,Saransk,54.181795,45.203851,https://upload.wikimedia.org/wikipedia/commons...
9,10,Rostov Arena,Rostov-on-Don,47.209581,39.738424,https://upload.wikimedia.org/wikipedia/commons...
10,11,Fisht Olympic Stadium,Sochi,43.402011,39.955709,https://upload.wikimedia.org/wikipedia/commons...
11,12,Central Stadium,Yekaterinburg,56.832490,60.573585,https://upload.wikimedia.org/wikipedia/commons...

In [475]:
df_tvchannels = pd.DataFrame.from_dict(data["tvchannels"])   
df_tvchannels

,id,name,icon,country,iso2,lang
0,1,DR1,https://upload.wikimedia.org/wikipedia/commons...,Denmark,dk,[da]
1,2,TV2,https://upload.wikimedia.org/wikipedia/commons...,Denmark,dk,[da]
2,3,BBC UK,https://upload.wikimedia.org/wikipedia/commons...,UK,en,[en]
3,4,ITV UK,https://upload.wikimedia.org/wikipedia/en/9/92...,UK,en,[en]
4,5,ITV4 UK,https://upload.wikimedia.org/wikipedia/en/9/92...,UK,en,[en]
5,6,Cuatro,https://upload.wikimedia.org/wikipedia/commons...,Spain,es,[es]
6,7,Telecinco,https://upload.wikimedia.org/wikipedia/commons...,Spain,es,[es]
7,8,Globo,https://upload.wikimedia.org/wikipedia/pt/2/22...,Brazil,br,[pt-br]
8,9,SportTV,https://upload.wikimedia.org/wikipedia/commons...,Brazil,br,[pt-br]
9,10,SportTV2,https://upload.wikimedia.org/wikipedia/commons...,Brazil,br,[pt-br]
10,11,SportTV3,https://upload.wikimedia.org/wikipedia/commons...,Brazil,br,[pt-br]
11,12,Sony Ten,https://upload.wikimedia.org/wikipedia/en/5/5f...,India,en,[en]
12,13,Fox,https://upload.wikimedia.org/wikipedia/commons...,USA,en,[en]
13,14,FS1,https://upload.wikimedia.org/wikipedia/commons...,USA,en,[en]
14,15,TransTV,https://upload.wikimedia.org/wikipedia/id/6/62...,Indonesia,id,[id]
15,16,Trans7,https://upload.wikimedia.org/wikipedia/commons...,Indonesia,id,[id]
16,17,ARD,https://upload.wikimedia.org/wikipedia/commons...,Germany,de,[de]
17,18,ZDF,https://upload.wikimedia.org/wikipedia/commons...,Germany,de,[de]
18,19,ONE,https://upload.wikimedia.org/wikipedia/commons...,Germany,de,[de]
19,20,TVP 1,https://upload.wikimedia.org/wikipedia/commons...,Poland,pl,[pl]
20,21,TVP 2,https://upload.wikimedia.org/wikipedia/commons...,Poland,pl,[pl]
21,22,TVP SPORT,https://upload.wikimedia.org/wikipedia/commons...,Poland,pl,[pl]

In [476]:
df_teams = pd.DataFrame.from_dict(data["teams"])   
df_teams

,id,name,fifaCode,iso2,flag,emoji,emojiString
0,1,Russia,RUS,ru,https://upload.wikimedia.org/wikipedia/en/thum...,flag-ru,🇷🇺
1,2,Saudi Arabia,KSA,sa,https://upload.wikimedia.org/wikipedia/commons...,flag-sa,🇸🇦
2,3,Egypt,EGY,eg,https://upload.wikimedia.org/wikipedia/commons...,flag-eg,🇪🇬
3,4,Uruguay,URU,uy,https://upload.wikimedia.org/wikipedia/commons...,flag-uy,🇺🇾
4,5,Portugal,POR,pt,https://upload.wikimedia.org/wikipedia/commons...,flag-pt,🇵🇹
5,6,Spain,ESP,es,https://upload.wikimedia.org/wikipedia/en/thum...,flag-es,🇪🇸
6,7,Morocco,MAR,ma,https://upload.wikimedia.org/wikipedia/commons...,flag-ma,🇲🇦
7,8,Iran,IRN,ir,https://upload.wikimedia.org/wikipedia/commons...,flag-ir,🇮🇷
8,9,France,FRA,fr,https://upload.wikimedia.org/wikipedia/en/thum...,flag-fr,🇫🇷
9,10,Australia,AUS,au,https://upload.wikimedia.org/wikipedia/commons...,flag-au,🇦🇺
10,11,Peru,PER,pe,https://upload.wikimedia.org/wikipedia/commons...,flag-pe,🇵🇪
11,12,Denmark,DEN,dk,https://upload.wikimedia.org/wikipedia/commons...,flag-dk,🇩🇰
12,13,Argentina,ARG,ar,https://upload.wikimedia.org/wikipedia/commons...,flag-ar,🇦🇷
13,14,Iceland,ISL,is,https://upload.wikimedia.org/wikipedia/commons...,flag-is,🇮🇸
14,15,Croatia,CRO,hr,https://upload.wikimedia.org/wikipedia/commons...,flag-hr,🇭🇷
15,16,Nigeria,NGA,ng,https://upload.wikimedia.org/wikipedia/commons...,flag-ng,🇳🇬
16,17,Brazil,BRA,br,https://upload.wikimedia.org/wikipedia/en/thum...,flag-br,🇧🇷
17,18,Switzerland,SUI,ch,https://upload.wikimedia.org/wikipedia/commons...,flag-ch,🇨🇭
18,19,Costa Rica,CRC,cr,https://upload.wikimedia.org/wikipedia/commons...,flag-cr,🇨🇷
19,20,Serbia,SRB,rs,https://upload.wikimedia.org/wikipedia/commons...,flag-rs,🇷🇸
20,21,Germany,GER,de,https://upload.wikimedia.org/wikipedia/en/thum...,flag-de,🇩🇪
21,22,Mexico,MEX,mx,https://upload.wikimedia.org/wikipedia/commons...,flag-mx,🇲🇽
22,23,Sweden,SWE,se,https://upload.wikimedia.org/wikipedia/en/thum...,flag-se,🇸🇪
23,24,South Korea,KOR,kr,https://upload.wikimedia.org/wikipedia/commons...,flag-kr,🇰🇷
24,25,Belgium,BEL,be,https://upload.wikimedia.org/wikipedia/commons...,flag-be,🇧🇪
25,26,Panama,PAN,pa,https://upload.wikimedia.org/wikipedia/commons...,flag-pa,🇵🇦
26,27,Tunisia,TUN,tn,https://upload.wikimedia.org/wikipedia/commons...,flag-tn,🇹🇳
27,28,England,ENG,gb-eng,https://upload.wikimedia.org/wikipedia/en/thum...,flag-england,🏴󠁧󠁢󠁥󠁮󠁧󠁿
28,29,Poland,POL,pl,https://upload.wikimedia.org/wikipedia/en/thum...,flag-pl,🇵🇱
29,30,Senegal,SEN,sn,https://upload.wikimedia.org/wikipedia/commons...,flag-sn,🇸🇳
30,31,Colombia,COL,co,https://upload.wikimedia.org/wikipedia/commons...,flag-co,🇨🇴
31,32,Japan,JPN,jp,https://upload.wikimedia.org/wikipedia/en/thum...,flag-jp,🇯🇵

In [477]:
df_groups = pd.DataFrame.from_dict(data["groups"])   
df_groups

,a,b,c,d,e,f,g,h
name,Group A,Group B,Group C,Group D,Group E,Group F,Group G,Group H
winner,4,6,9,15,17,23,25,31
runnerup,1,5,12,13,18,22,28,32
matches,"[{'name': 1, 'type': 'group', 'home_team': 1, ...","[{'name': 3, 'type': 'group', 'home_team': 5, ...","[{'name': 5, 'type': 'group', 'home_team': 9, ...","[{'name': 7, 'type': 'group', 'home_team': 13,...","[{'name': 9, 'type': 'group', 'home_team': 17,...","[{'name': 11, 'type': 'group', 'home_team': 21...","[{'name': 13, 'type': 'group', 'home_team': 25...","[{'name': 15, 'type': 'group', 'home_team': 29..."

In [478]:
df_knockout = pd.DataFrame.from_dict(data["knockout"])   
df_knockout

,round_16,round_8,round_4,round_2_loser,round_2
name,Round of 16,Quarter-finals,Semi-finals,Third place play-off,Final
matches,"[{'name': 49, 'type': 'qualified', 'home_team'...","[{'name': 57, 'type': 'winner', 'home_team': 4...","[{'name': 61, 'type': 'winner', 'home_team': 9...","[{'name': 63, 'type': 'loser', 'home_team': 25...","[{'name': 64, 'type': 'winner', 'home_team': 9..."

In [479]:
# faire une transposées sur df_groups 
df_groups = df_groups.T
df_groups

      name winner runnerup                                            matches
a  Group A      4        1  [{'name': 1, 'type': 'group', 'home_team': 1, ...
b  Group B      6        5  [{'name': 3, 'type': 'group', 'home_team': 5, ...
c  Group C      9       12  [{'name': 5, 'type': 'group', 'home_team': 9, ...
d  Group D     15       13  [{'name': 7, 'type': 'group', 'home_team': 13,...
e  Group E     17       18  [{'name': 9, 'type': 'group', 'home_team': 17,...
f  Group F     23       22  [{'name': 11, 'type': 'group', 'home_team': 21...
g  Group G     25       28  [{'name': 13, 'type': 'group', 'home_team': 25...
h  Group H     31       32  [{'name': 15, 'type': 'group', 'home_team': 29...

In [480]:
df_matches_group = pd.concat([pd.DataFrame(x) for x in df_groups['matches']], keys=df_groups.index) \
       .reset_index(level=1, drop=True).reset_index()

In [481]:
df_matches_group

,index,name,type,home_team,away_team,home_result,away_result,date,stadium,channels,finished,matchday
0,a,1,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,"[4, 6, 13, 17, 20, 22]",True,1
1,a,2,group,3,4,0,1,2018-06-15T17:00:00+05:00,12,"[3, 6, 14, 17, 20, 22]",True,1
2,a,17,group,1,3,3,1,2018-06-19T21:00:00+03:00,3,"[3, 6, 13, 17, 15, 21, 22]",True,2
3,a,18,group,4,2,1,0,2018-06-20T18:00:00+03:00,10,"[3, 6, 13, 17, 21, 22]",True,2
4,a,33,group,4,1,3,0,2018-06-25T18:00:00+04:00,7,"[4, 6, 13, 18, 15, 20, 22]",True,3
5,a,34,group,2,3,2,1,2018-06-25T17:00:00+03:00,8,"[5, 6, 14, 18, 15, 21, 22]",True,3
6,b,3,group,5,6,3,3,2018-06-15T21:00:00+03:00,11,"[3, 7, 13, 15, 17, 20, 22]",True,1
7,b,4,group,7,8,0,1,2018-06-15T18:00:00+03:00,3,"[4, 6, 13, 17, 21, 22]",True,1
8,b,19,group,5,7,1,0,2018-06-20T15:00:00+03:00,1,"[3, 6, 14, 15, 17, 20, 22]",True,2
9,b,20,group,8,6,0,1,2018-06-20T21:00:00+03:00,5,"[4, 7, 13, 15, 17, 20, 21]",True,2
10,b,35,group,8,5,1,1,2018-06-25T21:00:00+03:00,9,"[3, 6, 13, 18, 21, 22]",True,3
11,b,36,group,6,7,2,2,2018-06-25T20:00:00+02:00,4,"[3, 7, 14, 18, 21, 22]",True,3
12,c,5,group,9,10,2,1,2018-06-16T13:00:00+03:00,5,"[3, 6, 14, 15, 18, 21, 22]",True,1
13,c,6,group,11,12,0,1,2018-06-16T19:00:00+03:00,9,"[3, 6, 14, 15, 18, 21, 22]",True,1
14,c,21,group,9,11,1,0,2018-06-21T20:00:00+05:00,12,"[4, 6, 13, 15, 18, 21, 22]",True,2
15,c,22,group,12,10,1,1,2018-06-21T16:00:00+04:00,7,"[4, 6, 14, 15, 18, 20, 22]",True,2
16,c,37,group,12,9,0,0,2018-06-26T17:00:00+03:00,1,"[4, 6, 13, 15, 17, 20, 22]",True,3
17,c,38,group,10,11,0,2,2018-06-26T17:00:00+03:00,11,"[5, 6, 14, 16, 19, 21, 22]",True,3
18,d,7,group,13,14,1,1,2018-06-16T16:00:00+03:00,2,"[4, 6, 13, 18, 20, 22]",True,1
19,d,8,group,15,16,2,0,2018-06-16T21:00:00+02:00,4,"[4, 6, 14, 18, 15, 20, 22]",True,1
20,d,23,group,13,15,0,3,2018-06-21T21:00:00+03:00,6,"[3, 6, 13, 18, 20, 22]",True,2
21,d,24,group,16,14,2,0,2018-06-22T18:00:00+03:00,8,"[3, 6, 13, 18, 15, 21, 22]",True,2
22,d,39,group,16,13,1,2,2018-06-26T21:00:00+03:00,3,"[3, 6, 13, 15, 17, 20, 22]",True,3
23,d,40,group,14,15,1,2,2018-06-26T21:00:00+03:00,10,"[3, 6, 14, 17, 21, 22]",True,3
24,e,9,group,17,18,1,1,2018-06-17T21:00:00+03:00,10,"[4, 6, 14, 18, 20, 22]",True,1
25,e,10,group,19,20,0,1,2018-06-17T16:00:00+04:00,7,"[4, 6, 13, 18, 20, 22]",True,1
26,e,25,group,17,19,2,0,2018-06-22T15:00:00+03:00,3,"[4, 6, 14, 18, 15, 20, 22]",True,2
27,e,26,group,20,18,1,2,2018-06-22T20:00:00+02:00,4,"[3, 6, 13, 18, 15, 20, 22]",True,2
28,e,41,group,20,17,0,2,2018-06-27T21:00:00+03:00,2,"[4, 6, 13, 18, 15, 20, 22]",True,3
29,e,42,group,18,19,2,2,2018-06-27T21:00:00+03:00,6,"[5, 6, 14, 18, 15, 21, 22]",True,3
30,f,11,group,21,22,0,1,2018-06-17T18:00:00+03:00,1,"[3, 6, 14, 18, 21, 22]",True,1
31,f,12,group,23,24,1,0,2018-06-18T15:00:00+03:00,6,"[4, 6, 14, 17, 20, 22]",True,1
32,f,27,group,21,23,2,1,2018-06-23T21:00:00+03:00,11,"[4, 6, 13, 15, 17, 20, 22]",True,2
33,f,28,group,24,22,1,2,2018-06-23T18:00:00+03:00,10,"[4, 6, 13, 15, 17, 21, 22]",True,2
34,f,43,group,24,21,2,0,2018-06-27T17:00:00+03:00,5,"[3, 6, 14, 18, 15, 20, 22]",True,3
35,f,44,group,22,23,0,3,2018-06-27T19:00:00+05:00,12,"[3, 6, 13, 18, 21, 22]",True,3
36,g,13,group,25,26,3,0,2018-06-18T18:00:00+03:00,11,"[3, 6, 14, 17, 21, 22]",True,1
37,g,14,group,27,28,1,2,2018-06-18T21:00:00+03:00,8,"[3, 6, 14, 17, 20, 22]",True,1
38,g,29,group,25,27,5,2,2018-06-23T15:00:00+03:00,2,"[3, 6, 13, 15, 17, 20, 22]",True,2
39,g,30,group,28,26,6,1,2018-06-24T15:00:00+03:00,6,"[3, 6, 14, 15, 17, 20, 22]",True,2
40,g,45,group,28,25,0,1,2018-06-28T20:00:00+02:00,4,"[4, 6, 13, 15, 17, 20, 22]",True,3
41,g,46,group,26,27,1,2,2018-06-28T21:00:00+03:00,9,"[5, 6, 14, 19, 16, 21, 22]",True,3
42,h,15,group,29,30,1,2,2018-06-19T18:00:00+03:00,2,"[4, 6, 13, 18, 15, 20, 22]",True,1
43,h,16,group,31,32,1,2,2018-06-19T15:00:00+03:00,9,"[3, 6, 14, 18, 20, 22]",True,1
44,h,31,group,29,31,0,3,2018-06-24T20:00:00+02:00,5,"[4, 6, 13, 15, 17, 20, 22]",True,2
45,h,32,group,32,30,2,2,2018-06-24T18:00:00+03:00,12,"[3, 6, 13, 15, 17, 20, 22]",True,2
46,h,47,group,32,29,0,1,2018-06-28T17:00:00+03:00,8,"[3, 6, 14, 15, 17, 20, 22]",True,3
47,h,48,group,30,31,0,1,2018-06-28T18:00:00+04:00,7,"[3, 6, 13, 17, 21, 22]",True,3

In [482]:
df_knockout = df_knockout.T
df_knockout

,name,matches
round_16,Round of 16,"[{'name': 49, 'type': 'qualified', 'home_team'..."
round_8,Quarter-finals,"[{'name': 57, 'type': 'winner', 'home_team': 4..."
round_4,Semi-finals,"[{'name': 61, 'type': 'winner', 'home_team': 9..."
round_2_loser,Third place play-off,"[{'name': 63, 'type': 'loser', 'home_team': 25..."
round_2,Final,"[{'name': 64, 'type': 'winner', 'home_team': 9..."

In [483]:
# Ajouter une colonne 'tour' à partir de l'index de df_knockout
df_matches_knockout = pd.concat([pd.DataFrame(x) for x in df_knockout['matches']], 
                                keys=df_knockout.index).reset_index(level=1, drop=True).reset_index()


df_matches_knockout

,index,name,type,home_team,away_team,home_result,away_result,home_penalty,away_penalty,winner,date,stadium,channels,finished,matchday
0,round_16,49,qualified,4,5,2,1,NaN,NaN,4,2018-06-30T21:00:00+03:00,11,"[4, 13, 15]",True,4
1,round_16,50,qualified,9,13,4,3,NaN,NaN,9,2018-06-30T17:00:00+03:00,5,"[4, 6, 13, 15]",True,4
2,round_16,51,qualified,6,1,1,1,3.0,4.0,1,2018-07-01T17:00:00+03:00,1,"[3, 13, 15]",True,4
3,round_16,52,qualified,15,12,1,1,3.0,2.0,15,2018-07-01T21:00:00+03:00,6,"[4, 6, 13, 15]",True,4
4,round_16,53,qualified,17,22,2,0,NaN,NaN,17,2018-07-02T18:00:00+04:00,7,"[3, 6, 14, 15]",True,4
5,round_16,54,qualified,25,32,3,2,NaN,NaN,25,2018-07-02T21:00:00+03:00,10,"[3, 6, 13, 16]",True,4
6,round_16,55,qualified,23,18,1,0,NaN,NaN,23,2018-07-03T17:00:00+03:00,3,"[4, 6, 14, 16]",True,4
7,round_16,56,qualified,31,28,1,1,3.0,4.0,28,2018-07-03T21:00:00+03:00,2,"[3, 6, 13, 15]",True,4
8,round_8,57,winner,4,9,0,2,NaN,NaN,9,2018-07-06T17:00:00+03:00,6,"[3, 14, 15]",True,5
9,round_8,58,winner,17,25,1,2,NaN,NaN,25,2018-07-06T21:00:00+03:00,5,"[3, 14, 15]",True,5
10,round_8,59,winner,1,15,2,2,3.0,4.0,15,2018-07-07T21:00:00+03:00,11,"[4, 13, 16]",True,5
11,round_8,60,winner,23,28,0,2,NaN,NaN,28,2018-07-07T18:00:00+04:00,7,"[4, 13, 16]",True,5
12,round_4,61,winner,9,25,1,0,None,None,9,2018-07-10T21:00:00+03:00,3,"[4, 13, 16]",True,6
13,round_4,62,winner,15,28,2,1,None,None,15,2018-07-11T21:00:00+03:00,1,"[3, 13, 15]",True,6
14,round_2_loser,63,loser,25,28,2,0,None,None,25,2018-07-14T17:00:00+03:00,3,"[4, 13, 15]",True,7
15,round_2,64,winner,9,15,4,2,None,None,9,2018-07-15T18:00:00+03:00,1,"[3, 4, 13, 15]",True,7

In [484]:
df_matches_knockout = df_matches_knockout[['index', 'home_team', 'away_team', 'home_result', 'away_result', 'date', 'stadium', 'name']]
df_matches_group = df_matches_group[['index', 'home_team', 'away_team', 'home_result', 'away_result', 'date', 'stadium', 'name']]

# Concaténation des deux dataframes
df_matches = pd.concat([df_matches_group, df_matches_knockout]).reset_index(drop=True)

In [485]:
df_matches = df_matches.sort_values(by='name').reset_index(drop=True)
df_matches

,index,home_team,away_team,home_result,away_result,date,stadium,name
0,a,1,2,5,0,2018-06-14T18:00:00+03:00,1,1
1,a,3,4,0,1,2018-06-15T17:00:00+05:00,12,2
2,b,5,6,3,3,2018-06-15T21:00:00+03:00,11,3
3,b,7,8,0,1,2018-06-15T18:00:00+03:00,3,4
4,c,9,10,2,1,2018-06-16T13:00:00+03:00,5,5
...,...,...,...,...,...,...,...,...
59,round_8,23,28,0,2,2018-07-07T18:00:00+04:00,7,60
60,round_4,9,25,1,0,2018-07-10T21:00:00+03:00,3,61
61,round_4,15,28,2,1,2018-07-11T21:00:00+03:00,1,62
62,round_2_loser,25,28,2,0,2018-07-14T17:00:00+03:00,3,63
63,round_2,9,15,4,2,2018-07-15T18:00:00+03:00,1,64

In [486]:
df_matches = df_matches.rename(columns={
    'index': 'round'
})

In [487]:
df_matches['round'].unique()

array(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'round_16', 'round_8',
       'round_4', 'round_2_loser', 'round_2'], dtype=object)

In [488]:
def round_clean(x):
    if x == 'round_2' or x == 'FINAL_ROUND':
        return 'final'
    elif x == 'round_4':
        return 'semifinal'
    elif x.startswith('PRELIMINARY'):
        return 'preliminary'
    elif x.startswith('Group'):
        return 'group'
    elif x == 'round_8':
        return 'quarterfinal'
    elif x == 'round_16':
        return 'eighthfinal'
    elif x == 'round_2_loser':
        return 'littlefinal'
    else :
        return "group"
    
df_matches['round'] = df_matches['round'].apply(round_clean)
df_matches

,round,home_team,away_team,home_result,away_result,date,stadium,name
0,group,1,2,5,0,2018-06-14T18:00:00+03:00,1,1
1,group,3,4,0,1,2018-06-15T17:00:00+05:00,12,2
2,group,5,6,3,3,2018-06-15T21:00:00+03:00,11,3
3,group,7,8,0,1,2018-06-15T18:00:00+03:00,3,4
4,group,9,10,2,1,2018-06-16T13:00:00+03:00,5,5
...,...,...,...,...,...,...,...,...
59,quarterfinal,23,28,0,2,2018-07-07T18:00:00+04:00,7,60
60,semifinal,9,25,1,0,2018-07-10T21:00:00+03:00,3,61
61,semifinal,15,28,2,1,2018-07-11T21:00:00+03:00,1,62
62,littlefinal,25,28,2,0,2018-07-14T17:00:00+03:00,3,63
63,final,9,15,4,2,2018-07-15T18:00:00+03:00,1,64

In [489]:
# Split la date et récupérer la première valeur
df_matches['date'] = df_matches['date'].str.split('-').str[0]

In [490]:
df_matches

,round,home_team,away_team,home_result,away_result,date,stadium,name
0,group,1,2,5,0,2018,1,1
1,group,3,4,0,1,2018,12,2
2,group,5,6,3,3,2018,11,3
3,group,7,8,0,1,2018,3,4
4,group,9,10,2,1,2018,5,5
...,...,...,...,...,...,...,...,...
59,quarterfinal,23,28,0,2,2018,7,60
60,semifinal,9,25,1,0,2018,3,61
61,semifinal,15,28,2,1,2018,1,62
62,littlefinal,25,28,2,0,2018,3,63
63,final,9,15,4,2,2018,1,64

In [491]:
# joindre df_matches avec df_teams et ne recuperer que les colonnes id et name
df_teams = df_teams[['id', 'name']]

df_matches = df_matches.merge(df_teams, left_on='home_team', right_on='id', how='left')
df_matches

,round,home_team,away_team,home_result,away_result,date,stadium,name_x,id,name_y
0,group,1,2,5,0,2018,1,1,1,Russia
1,group,3,4,0,1,2018,12,2,3,Egypt
2,group,5,6,3,3,2018,11,3,5,Portugal
3,group,7,8,0,1,2018,3,4,7,Morocco
4,group,9,10,2,1,2018,5,5,9,France
...,...,...,...,...,...,...,...,...,...,...
59,quarterfinal,23,28,0,2,2018,7,60,23,Sweden
60,semifinal,9,25,1,0,2018,3,61,9,France
61,semifinal,15,28,2,1,2018,1,62,15,Croatia
62,littlefinal,25,28,2,0,2018,3,63,25,Belgium
63,final,9,15,4,2,2018,1,64,9,France

In [492]:
df_matches = df_matches.rename(columns={
    'name_x': 'id_match'
})

In [493]:
df_matches

,round,home_team,away_team,home_result,away_result,date,stadium,id_match,id,name_y
0,group,1,2,5,0,2018,1,1,1,Russia
1,group,3,4,0,1,2018,12,2,3,Egypt
2,group,5,6,3,3,2018,11,3,5,Portugal
3,group,7,8,0,1,2018,3,4,7,Morocco
4,group,9,10,2,1,2018,5,5,9,France
...,...,...,...,...,...,...,...,...,...,...
59,quarterfinal,23,28,0,2,2018,7,60,23,Sweden
60,semifinal,9,25,1,0,2018,3,61,9,France
61,semifinal,15,28,2,1,2018,1,62,15,Croatia
62,littlefinal,25,28,2,0,2018,3,63,25,Belgium
63,final,9,15,4,2,2018,1,64,9,France

In [494]:
df_statiums = df_stadiums[['id', 'city']]
df_statiums

    id              city
0    1            Moscow
1    2            Moscow
2    3  Saint Petersburg
3    4       Kaliningrad
4    5             Kazan
5    6   Nizhny Novgorod
6    7            Samara
7    8         Volgograd
8    9           Saransk
9   10     Rostov-on-Don
10  11             Sochi
11  12     Yekaterinburg

In [495]:
df_matches = df_matches.merge(df_statiums, left_on='stadium', right_on='id', how='left')
df_matches

,round,home_team,away_team,home_result,away_result,date,stadium,id_match,id_x,name_y,id_y,city
0,group,1,2,5,0,2018,1,1,1,Russia,1,Moscow
1,group,3,4,0,1,2018,12,2,3,Egypt,12,Yekaterinburg
2,group,5,6,3,3,2018,11,3,5,Portugal,11,Sochi
3,group,7,8,0,1,2018,3,4,7,Morocco,3,Saint Petersburg
4,group,9,10,2,1,2018,5,5,9,France,5,Kazan
...,...,...,...,...,...,...,...,...,...,...,...,...
59,quarterfinal,23,28,0,2,2018,7,60,23,Sweden,7,Samara
60,semifinal,9,25,1,0,2018,3,61,9,France,3,Saint Petersburg
61,semifinal,15,28,2,1,2018,1,62,15,Croatia,1,Moscow
62,littlefinal,25,28,2,0,2018,3,63,25,Belgium,3,Saint Petersburg
63,final,9,15,4,2,2018,1,64,9,France,1,Moscow

In [496]:
df_matches.drop(columns=['id_y', 'id_x', 'home_team'], inplace=True)

In [497]:
df_matches =df_matches.rename(columns={
    'name_y': 'home_team'
})

In [498]:
df_matches

,round,away_team,home_result,away_result,date,stadium,id_match,home_team,city
0,group,2,5,0,2018,1,1,Russia,Moscow
1,group,4,0,1,2018,12,2,Egypt,Yekaterinburg
2,group,6,3,3,2018,11,3,Portugal,Sochi
3,group,8,0,1,2018,3,4,Morocco,Saint Petersburg
4,group,10,2,1,2018,5,5,France,Kazan
...,...,...,...,...,...,...,...,...,...
59,quarterfinal,28,0,2,2018,7,60,Sweden,Samara
60,semifinal,25,1,0,2018,3,61,France,Saint Petersburg
61,semifinal,28,2,1,2018,1,62,Croatia,Moscow
62,littlefinal,28,2,0,2018,3,63,Belgium,Saint Petersburg
63,final,15,4,2,2018,1,64,France,Moscow

In [499]:
df_matches = df_matches.merge(df_teams, left_on='away_team', right_on='id', how='left')
df_matches

,round,away_team,home_result,away_result,date,stadium,id_match,home_team,city,id,name
0,group,2,5,0,2018,1,1,Russia,Moscow,2,Saudi Arabia
1,group,4,0,1,2018,12,2,Egypt,Yekaterinburg,4,Uruguay
2,group,6,3,3,2018,11,3,Portugal,Sochi,6,Spain
3,group,8,0,1,2018,3,4,Morocco,Saint Petersburg,8,Iran
4,group,10,2,1,2018,5,5,France,Kazan,10,Australia
...,...,...,...,...,...,...,...,...,...,...,...
59,quarterfinal,28,0,2,2018,7,60,Sweden,Samara,28,England
60,semifinal,25,1,0,2018,3,61,France,Saint Petersburg,25,Belgium
61,semifinal,28,2,1,2018,1,62,Croatia,Moscow,28,England
62,littlefinal,28,2,0,2018,3,63,Belgium,Saint Petersburg,28,England
63,final,15,4,2,2018,1,64,France,Moscow,15,Croatia

In [500]:
df_matches.drop(columns=['away_team'], inplace=True)
df_matches= df_matches.rename(columns={
    'name': 'away_team'
})
df_matches

,round,home_result,away_result,date,stadium,id_match,home_team,city,id,away_team
0,group,5,0,2018,1,1,Russia,Moscow,2,Saudi Arabia
1,group,0,1,2018,12,2,Egypt,Yekaterinburg,4,Uruguay
2,group,3,3,2018,11,3,Portugal,Sochi,6,Spain
3,group,0,1,2018,3,4,Morocco,Saint Petersburg,8,Iran
4,group,2,1,2018,5,5,France,Kazan,10,Australia
...,...,...,...,...,...,...,...,...,...,...
59,quarterfinal,0,2,2018,7,60,Sweden,Samara,28,England
60,semifinal,1,0,2018,3,61,France,Saint Petersburg,25,Belgium
61,semifinal,2,1,2018,1,62,Croatia,Moscow,28,England
62,littlefinal,2,0,2018,3,63,Belgium,Saint Petersburg,28,England
63,final,4,2,2018,1,64,France,Moscow,15,Croatia

In [501]:
df_2018 = df_matches[['id_match', 'home_team', 'away_team', 'home_result', 'away_result', 'date', 'round', 'city']]

In [502]:
df_2018

,id_match,home_team,away_team,home_result,away_result,date,round,city
0,1,Russia,Saudi Arabia,5,0,2018,group,Moscow
1,2,Egypt,Uruguay,0,1,2018,group,Yekaterinburg
2,3,Portugal,Spain,3,3,2018,group,Sochi
3,4,Morocco,Iran,0,1,2018,group,Saint Petersburg
4,5,France,Australia,2,1,2018,group,Kazan
...,...,...,...,...,...,...,...,...
59,60,Sweden,England,0,2,2018,quarterfinal,Samara
60,61,France,Belgium,1,0,2018,semifinal,Saint Petersburg
61,62,Croatia,England,2,1,2018,semifinal,Moscow
62,63,Belgium,England,2,0,2018,littlefinal,Saint Petersburg
63,64,France,Croatia,4,2,2018,final,Moscow

In [503]:
df

,id_match,home_team,away_team,home_result,away_result,date,round,city,edition
0,1,France,Mexico,4,1,1930,group,Montevideo,1930-URUGUAY
1,2,USA,Belgium,3,0,1930,group,Montevideo,1930-URUGUAY
2,3,Yugoslavia,Brazil,2,1,1930,group,Montevideo,1930-URUGUAY
3,4,Romania,Peru,3,1,1930,group,Montevideo,1930-URUGUAY
4,5,Argentina,France,1,0,1930,group,Montevideo,1930-URUGUAY
...,...,...,...,...,...,...,...,...,...
6490,6491,Netherlands,Costa Rica,0,0,2014,quarterfinal,Salvador,2014-BRAZIL
6491,6492,Brazil,Germany,1,7,2014,semifinal,Belo Horizonte,2014-BRAZIL
6492,6493,Netherlands,Argentina,0,0,2014,semifinal,Sao Paulo,2014-BRAZIL
6493,6494,Brazil,Netherlands,0,3,2014,quarterfinal,Brasilia,2014-BRAZIL
6494,6495,Germany,Argentina,1,0,2014,final,Rio De Janeiro,2014-BRAZIL

In [504]:
# Créer une colone id_mach qui commenece à 6416 
df_2018['id_match'] = range(6496, 6496 + len(df_2018))
df_2018

/tmp/ipykernel_82499/6305076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['id_match'] = range(6496, 6496 + len(df_2018))

,id_match,home_team,away_team,home_result,away_result,date,round,city
0,6496,Russia,Saudi Arabia,5,0,2018,group,Moscow
1,6497,Egypt,Uruguay,0,1,2018,group,Yekaterinburg
2,6498,Portugal,Spain,3,3,2018,group,Sochi
3,6499,Morocco,Iran,0,1,2018,group,Saint Petersburg
4,6500,France,Australia,2,1,2018,group,Kazan
...,...,...,...,...,...,...,...,...
59,6555,Sweden,England,0,2,2018,quarterfinal,Samara
60,6556,France,Belgium,1,0,2018,semifinal,Saint Petersburg
61,6557,Croatia,England,2,1,2018,semifinal,Moscow
62,6558,Belgium,England,2,0,2018,littlefinal,Saint Petersburg
63,6559,France,Croatia,4,2,2018,final,Moscow

In [505]:
df_2018['edition'] = '2018-RUSSIA'

/tmp/ipykernel_82499/416792627.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['edition'] = '2018-RUSSIA'

In [506]:
# Concat les 2 dataframe 
df = pd.concat([df, df_2018]).reset_index(drop=True)
df

,id_match,home_team,away_team,home_result,away_result,date,round,city,edition
0,1,France,Mexico,4,1,1930,group,Montevideo,1930-URUGUAY
1,2,USA,Belgium,3,0,1930,group,Montevideo,1930-URUGUAY
2,3,Yugoslavia,Brazil,2,1,1930,group,Montevideo,1930-URUGUAY
3,4,Romania,Peru,3,1,1930,group,Montevideo,1930-URUGUAY
4,5,Argentina,France,1,0,1930,group,Montevideo,1930-URUGUAY
...,...,...,...,...,...,...,...,...,...
6554,6555,Sweden,England,0,2,2018,quarterfinal,Samara,2018-RUSSIA
6555,6556,France,Belgium,1,0,2018,semifinal,Saint Petersburg,2018-RUSSIA
6556,6557,Croatia,England,2,1,2018,semifinal,Moscow,2018-RUSSIA
6557,6558,Belgium,England,2,0,2018,littlefinal,Saint Petersburg,2018-RUSSIA
6558,6559,France,Croatia,4,2,2018,final,Moscow,2018-RUSSIA

# DATA DE 2022

In [507]:
pd.set_option('display.max_columns', None)

df_2022 = pd.read_csv('data/data.csv')
df_2022

,match,dayofweek,match_time,home_team,away_team,home_xg,away_xg,score,attendance,venue,referee,home_formation,away_formation,home_captain,away_captain,home_manager,away_manager,home_possession,away_possession,home_completed_passes,home_attempted_pases,away_completed_passes,away_attempted_pases,home_sot,away_sot,home_total_shots,away_total_shots,home_saves,away_saves,home_fouls,away_fouls,home_corners,away_corners,home_crosses,away_crosses,home_touches,away_touches,home_tackles,away_tackles,home_interceptions,away_interceptions,home_aerials_won,away_aerials_won,home_clearances,away_clearances,home_offsides,away_offsides,home_gks,away_gks,home_throw_ins,away_throw_ins,home_long_balls,away_long_balls
0,1,Sun,2022-11-20 19:00:00,Qatar,Ecuador,0.3,1.2,0–2,67372,Al Bayt Stadium,Daniele Orsato,5-3-2,4-4-2,Hassan Al-Haydos,Enner Valencia,Félix Sánchez,Gustavo Alfaro,47,53,377,469,430,522,0,2,5,5,1,0,15,15,1,3,8,14,549,601,10,14,2,12,14,13,18,7,3,4,4,7,20,17,51,70
1,2,Mon,2022-11-21 16:00:00,England,IR Iran,2.1,1.4,6–2,45334,Khalifa International Stadium,Raphael Claus,4-2-3-1,5-4-1,Harry Kane,Ehsan Hajsafi,Gareth Southgate,Carlos Queiroz,77,23,740,838,162,248,7,2,13,7,1,1,9,14,8,0,21,8,922,341,13,12,7,16,10,10,4,23,2,2,5,5,18,17,87,50
2,3,Mon,2022-11-21 19:00:00,Senegal,Netherlands,0.9,0.7,0–2,41721,Al Thumama Stadium,Wilton Sampaio,4-2-3-1,3-4-1-2,Kalidou Koulibaly,Virgil van Dijk,Aliou Cissé,Louis van Gaal,46,54,333,427,387,494,4,3,15,10,1,4,13,13,6,7,19,25,531,573,14,10,10,6,22,20,32,16,2,1,6,10,17,28,64,66
3,4,Mon,2022-11-21 22:00:00,United States,Wales,0.8,1.5,1–1,43418,Ahmed bin Ali Stadium,Abdulrahman Ibrahim Al Jassim,4-3-3,3-5-2,Tyler Adams,Gareth Bale,Gregg Berhalter,Rob Page,58,42,524,624,335,446,1,2,6,6,2,0,15,10,5,3,30,14,724,568,14,18,6,8,14,12,18,31,1,1,5,10,22,25,56,90
4,5,Tue,2022-11-22 13:00:00,Argentina,Saudi Arabia,2.2,0.1,1–2,88012,Lusail Iconic Stadium,Slavko Vinčič,4-4-2,4-1-4-1,Lionel Messi,Salman Al-Faraj,Lionel Scaloni,Hervé Renard,69,31,546,659,195,294,5,2,14,3,0,5,7,21,9,2,23,10,753,411,17,18,9,14,16,7,11,26,10,1,3,9,24,13,55,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,60,Sat,2022-12-10 22:00:00,England,France,2.4,0.9,1–2,68895,Al Bayt Stadium,Wilton Sampaio,4-3-3,4-2-3-1,Harry Kane,Hugo Lloris,Gareth Southgate,Didier Deschamps,57,43,463,543,325,409,6,5,14,8,3,6,10,14,5,2,18,11,635,499,16,10,8,5,18,19,13,16,1,2,9,5,16,14,61,62
60,61,Tue,2022-12-13 22:00:00,Argentina,Croatia,2.3,0.5,3–0,88966,Lusail Iconic Stadium,Daniele Orsato,4-4-2,4-3-3,Lionel Messi,Luka Modrić,Lionel Scaloni,Zlatko Dalić,40,60,352,427,558,653,6,2,8,12,2,4,15,8,2,4,6,20,541,739,22,19,8,5,6,7,22,6,1,0,9,4,19,21,49,43
61,62,Wed,2022-12-14 22:00:00,France,Morocco,1.9,0.9,2–0,68294,Al Bayt Stadium,César Arturo Ramos,4-2-3-1,5-4-1,Hugo Lloris,Romain Saïss,Didier Deschamps,Hoalid Regragui,39,61,309,391,517,609,2,2,14,13,2,0,10,11,2,3,6,15,510,696,22,15,19,8,15,10,16,3,4,3,8,10,14,18,55,40
62,63,Sat,2022-12-17 18:00:00,Croatia,Morocco,0.7,1.2,2–1,44137,Khalifa International Stadium,Abdulrahman Ibrahim Al Jassim,4-2-3-1,4-3-3,Luka Modrić,Hakim Ziyech,Zlatko Dalić,Hoalid Regragui,50,50,431,521,427,514,4,2,12,9,1,2,13,11,6,3,14,18,624,609,20,10,8,10,6,8,19,16,2,2,12,11,14,19,53,46
63,64,Sun,2022-12-18 18:00:00,Argentina,France,3.3,2.2,(4) 3–3 (2),88966,Lusail Iconic Stadium,Szymon Marciniak,4-3-3,4-2-3-1,Lionel Messi,Hugo Lloris,Lionel Scaloni,Didier Deschamps,54,46,554,689,438,585,9,3,19,8,2,7,26,19,6,5,17,24,845,737,23,26,10,10,9,22,24,18,4,4,6,13,26,21,73,94

In [508]:
df_2022 = df_2022[['match', 'home_team', 'away_team', 'score', 'match_time','venue']]

In [509]:
df_ok = pd.read_csv('data/Fifa_world_cup_matches.csv')

In [510]:
df_ok

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,total attempts team1,total attempts team2,conceded team1,conceded team2,goal inside the penalty area team1,goal inside the penalty area team2,goal outside the penalty area team1,goal outside the penalty area team2,assists team1,assists team2,on target attempts team1,on target attempts team2,off target attempts team1,off target attempts team2,attempts inside the penalty area team1,attempts inside the penalty area team2,attempts outside the penalty area team1,attempts outside the penalty area team2,left channel team1,left channel team2,left inside channel team1,left inside channel team2,central channel team1,central channel team2,right inside channel team1,right inside channel team2,right channel team1,right channel team2,total offers to receive team1,total offers to receive team2,inbehind offers to receive team1,inbehind offers to receive team2,inbetween offers to receive team1,inbetween offers to receive team2,infront offers to receive team1,infront offers to receive team2,receptions between midfield and defensive lines team1,receptions between midfield and defensive lines team2,attempted line breaks team1,attempted line breaks team2,completed line breaksteam1,completed line breaks team2,attempted defensive line breaks team1,attempted defensive line breaks team2,completed defensive line breaksteam1,completed defensive line breaks team2,yellow cards team1,yellow cards team2,red cards team1,red cards team2,fouls against team1,fouls against team2,offsides team1,offsides team2,passes team1,passes team2,passes completed team1,passes completed team2,crosses team1,crosses team2,crosses completed team1,crosses completed team2,switches of play completed team1,switches of play completed team2,corners team1,corners team2,free kicks team1,free kicks team2,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,QATAR,ECUADOR,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,5,6,2,0,0,2,0,0,0,1,0,3,5,3,2,4,3,2,15,8,0,7,3,6,1,4,9,6,520,532,116,127,235,187,169,218,5,8,136,155,86,99,9,13,4,7,4,2,0,0,15,15,3,4,450,480,381,409,9,14,4,4,9,9,1,3,19,17,0,1,6,5,0,0,52,72,256,279
1,ENGLAND,IRAN,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,13,8,2,6,6,2,0,0,6,1,7,3,3,4,10,6,3,2,11,3,5,0,2,3,3,1,11,0,1061,212,207,53,386,86,468,73,16,4,238,101,178,45,25,7,16,4,0,2,0,0,9,14,2,2,809,224,730,154,23,8,7,1,12,3,8,0,16,10,0,1,8,13,0,0,63,72,139,416
2,SENEGAL,NETHERLANDS,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,14,9,2,0,0,2,0,0,0,1,3,3,8,5,7,5,7,4,12,11,4,2,2,2,4,7,13,20,502,506,123,117,230,191,149,198,15,14,151,162,89,96,22,22,15,10,2,1,0,0,13,13,2,1,383,438,313,374,19,25,7,8,9,6,6,7,14,14,0,0,9,15,0,0,63,73,263,251
3,UNITED STATES,WALES,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,6,7,1,1,1,1,0,0,1,0,1,3,4,3,4,5,2,2,14,7,5,2,4,5,4,2,11,7,725,436,149,100,336,172,240,164,12,9,199,174,146,103,23,17,15,8,4,2,0,0,15,10,1,1,569,409,509,321,31,15,4,6,5,8,5,3,11,15,0,1,7,7,0,0,81,72,242,292
4,ARGENTINA,SAUDI ARABIA,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,14,3,2,1,1,2,0,0,0,1,6,2,5,0,10,3,4,0,12,3,4,2,5,3,8,3,18,8,650,268,157,69,177,131,316,68,26,9,191,137,127,68,39,15,25,7,0,6,0,0,7,21,10,1,610,267,529,190,29,9,12,2,5,7,9,2,22,16,1,0,4,14,0,0,65,80,163,361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,ENGLAND,FRANCE,54%,36%,10%,1,2,10 DEC 2022,20 : 00,Quarter-final,14,9,2,1,1,1,0,1,0,2,6,5,4,3,6,6,8,3,17,15,6,2,4,7,2,2,10,13,661,401,127,84,312,136,222,181,8,7,147,136,108,87,13,14,10,8,1,3,0,0,10,14,1,2,508,369,453,310,22,13,5,6,5,2,5,2,14,11,1,0,9,15,0,0,49,54,193,308
60,ARGENTINA,CROATIA,34%,54%,12%,3,0,13 DEC 2022,20 : 00,Semi-final,10,12,0,3,3,0,0,0,1,0,7,3,2,7,7,6,3,6,8,18,9,6,7,7,3,4,2,8,349,643,89,136,122,291,138,216,7,3,147,182,91,129,17,9,7,1,2,2,0,0,15,8,1,0,408,624,344,551,8,20,2,4,4,8,2,4,6,16,1,0,12,10,0,0,85,63,321,260
61,FRANCE,MOROCCO,34%,55%,11%,2,0,14 DEC 2022,20 : 00,Semi-final,14,13,0,2,2,0,0,0,0,0,2,1,8,6,12,8,2,5,9,10,6,4,3,6,2,6,6,19,330,702,82,136,99,314,149,252,8,15,126,141,85,95,12,18,8,11,0,1,0,0,11,11,4,3,358,583,307,518,5,22,2,1,1,8,2,3,13,15,0,0,13,14,0,0,72,47,328,218
62,CROATIA,MOROCCO,45%,45%,10%,2,1,17 DEC 2022,16 : 00,Play-off for third place,14,7,1,2,2,1,0,0,2,0,4,2,8,5,7,5,7,2,20,13,8,1,3,3,2,7,7,16,519,609,117,127,198,202,204,280,15,10,164,150,114,97,23,14,12,8,0,2,0,0,13,11,2,2,491,494,430,428,21,20,3,5,7,12,6,3,13,15,0,0,7,14,0,0,75,72,288,277
63,ARGENTINA,FRANCE,46%,40%,14%,3,3,18 DEC 2022,16 : 00,Final,21,10,3,3,3,3,0,0,1,1,9,5,9,3,10,7,11,3,13,15,6,7,8,5,9,4,9,12,607,507,146,105,257,207,204,195,43,10,223,163,151,99,38,14,23,9,4,3,0,0,26,19,4,4,648,516,544,419,20,24,4,3,6,5,6,5,22,28,1,2,11,21,0,0,87,104,280,409

In [511]:
#mettre en capitalized les colonnes team1 et team2
df_ok['team1'] = df_ok['team1'].str.capitalize()
df_ok['team2'] = df_ok['team2'].str.capitalize()

In [512]:
df_ok

,team1,team2,possession team1,possession team2,possession in contest,number of goals team1,number of goals team2,date,hour,category,total attempts team1,total attempts team2,conceded team1,conceded team2,goal inside the penalty area team1,goal inside the penalty area team2,goal outside the penalty area team1,goal outside the penalty area team2,assists team1,assists team2,on target attempts team1,on target attempts team2,off target attempts team1,off target attempts team2,attempts inside the penalty area team1,attempts inside the penalty area team2,attempts outside the penalty area team1,attempts outside the penalty area team2,left channel team1,left channel team2,left inside channel team1,left inside channel team2,central channel team1,central channel team2,right inside channel team1,right inside channel team2,right channel team1,right channel team2,total offers to receive team1,total offers to receive team2,inbehind offers to receive team1,inbehind offers to receive team2,inbetween offers to receive team1,inbetween offers to receive team2,infront offers to receive team1,infront offers to receive team2,receptions between midfield and defensive lines team1,receptions between midfield and defensive lines team2,attempted line breaks team1,attempted line breaks team2,completed line breaksteam1,completed line breaks team2,attempted defensive line breaks team1,attempted defensive line breaks team2,completed defensive line breaksteam1,completed defensive line breaks team2,yellow cards team1,yellow cards team2,red cards team1,red cards team2,fouls against team1,fouls against team2,offsides team1,offsides team2,passes team1,passes team2,passes completed team1,passes completed team2,crosses team1,crosses team2,crosses completed team1,crosses completed team2,switches of play completed team1,switches of play completed team2,corners team1,corners team2,free kicks team1,free kicks team2,penalties scored team1,penalties scored team2,goal preventions team1,goal preventions team2,own goals team1,own goals team2,forced turnovers team1,forced turnovers team2,defensive pressures applied team1,defensive pressures applied team2
0,Qatar,Ecuador,42%,50%,8%,0,2,20 NOV 2022,17 : 00,Group A,5,6,2,0,0,2,0,0,0,1,0,3,5,3,2,4,3,2,15,8,0,7,3,6,1,4,9,6,520,532,116,127,235,187,169,218,5,8,136,155,86,99,9,13,4,7,4,2,0,0,15,15,3,4,450,480,381,409,9,14,4,4,9,9,1,3,19,17,0,1,6,5,0,0,52,72,256,279
1,England,Iran,72%,19%,9%,6,2,21 NOV 2022,14 : 00,Group B,13,8,2,6,6,2,0,0,6,1,7,3,3,4,10,6,3,2,11,3,5,0,2,3,3,1,11,0,1061,212,207,53,386,86,468,73,16,4,238,101,178,45,25,7,16,4,0,2,0,0,9,14,2,2,809,224,730,154,23,8,7,1,12,3,8,0,16,10,0,1,8,13,0,0,63,72,139,416
2,Senegal,Netherlands,44%,45%,11%,0,2,21 NOV 2022,17 : 00,Group A,14,9,2,0,0,2,0,0,0,1,3,3,8,5,7,5,7,4,12,11,4,2,2,2,4,7,13,20,502,506,123,117,230,191,149,198,15,14,151,162,89,96,22,22,15,10,2,1,0,0,13,13,2,1,383,438,313,374,19,25,7,8,9,6,6,7,14,14,0,0,9,15,0,0,63,73,263,251
3,United states,Wales,51%,39%,10%,1,1,21 NOV 2022,20 : 00,Group B,6,7,1,1,1,1,0,0,1,0,1,3,4,3,4,5,2,2,14,7,5,2,4,5,4,2,11,7,725,436,149,100,336,172,240,164,12,9,199,174,146,103,23,17,15,8,4,2,0,0,15,10,1,1,569,409,509,321,31,15,4,6,5,8,5,3,11,15,0,1,7,7,0,0,81,72,242,292
4,Argentina,Saudi arabia,64%,24%,12%,1,2,22 NOV 2022,11 : 00,Group C,14,3,2,1,1,2,0,0,0,1,6,2,5,0,10,3,4,0,12,3,4,2,5,3,8,3,18,8,650,268,157,69,177,131,316,68,26,9,191,137,127,68,39,15,25,7,0,6,0,0,7,21,10,1,610,267,529,190,29,9,12,2,5,7,9,2,22,16,1,0,4,14,0,0,65,80,163,361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,England,France,54%,36%,10%,1,2,10 DEC 2022,20 : 00,Quarter-final,14,9,2,1,1,1,0,1,0,2,6,5,4,3,6,6,8,3,17,15,6,2,4,7,2,2,10,13,661,401,127,84,312,136,222,181,8,7,147,136,108,87,13,14,10,8,1,3,0,0,10,14,1,2,508,369,453,310,22,13,5,6,5,2,5,2,14,11,1,0,9,15,0,0,49,54,193,308
60,Argentina,Croatia,34%,54%,12%,3,0,13 DEC 2022,20 : 00,Semi-final,10,12,0,3,3,0,0,0,1,0,7,3,2,7,7,6,3,6,8,18,9,6,7,7,3,4,2,8,349,643,89,136,122,291,138,216,7,3,147,182,91,129,17,9,7,1,2,2,0,0,15,8,1,0,408,624,344,551,8,20,2,4,4,8,2,4,6,16,1,0,12,10,0,0,85,63,321,260
61,France,Morocco,34%,55%,11%,2,0,14 DEC 2022,20 : 00,Semi-final,14,13,0,2,2,0,0,0,0,0,2,1,8,6,12,8,2,5,9,10,6,4,3,6,2,6,6,19,330,702,82,136,99,314,149,252,8,15,126,141,85,95,12,18,8,11,0,1,0,0,11,11,4,3,358,583,307,518,5,22,2,1,1,8,2,3,13,15,0,0,13,14,0,0,72,47,328,218
62,Croatia,Morocco,45%,45%,10%,2,1,17 DEC 2022,16 : 00,Play-off for third place,14,7,1,2,2,1,0,0,2,0,4,2,8,5,7,5,7,2,20,13,8,1,3,3,2,7,7,16,519,609,117,127,198,202,204,280,15,10,164,150,114,97,23,14,12,8,0,2,0,0,13,11,2,2,491,494,430,428,21,20,3,5,7,12,6,3,13,15,0,0,7,14,0,0,75,72,288,277
63,Argentina,France,46%,40%,14%,3,3,18 DEC 2022,16 : 00,Final,21,10,3,3,3,3,0,0,1,1,9,5,9,3,10,7,11,3,13,15,6,7,8,5,9,4,9,12,607,507,146,105,257,207,204,195,43,10,223,163,151,99,38,14,23,9,4,3,0,0,26,19,4,4,648,516,544,419,20,24,4,3,6,5,6,5,22,28,1,2,11,21,0,0,87,104,280,409

In [513]:
df_ok = df_ok[['team1', 'team2', 'category']]
df_ok

            team1         team2                  category
0           Qatar       Ecuador                   Group A
1         England          Iran                   Group B
2         Senegal   Netherlands                   Group A
3   United states         Wales                   Group B
4       Argentina  Saudi arabia                   Group C
..            ...           ...                       ...
59        England        France             Quarter-final
60      Argentina       Croatia                Semi-final
61         France       Morocco                Semi-final
62        Croatia       Morocco  Play-off for third place
63      Argentina        France                     Final

[64 rows x 3 columns]

In [514]:
#Merge df_2022 et df_look
df_2022 = df_2022.merge(df_ok, left_on=['home_team', 'away_team'], right_on=['team1', 'team2'], how='left')

In [515]:
df_2022.drop(columns=['team1', 'team2'], inplace=True)

In [516]:
df_2022

,match,home_team,away_team,score,match_time,venue,category
0,1,Qatar,Ecuador,0–2,2022-11-20 19:00:00,Al Bayt Stadium,Group A
1,2,England,IR Iran,6–2,2022-11-21 16:00:00,Khalifa International Stadium,NaN
2,3,Senegal,Netherlands,0–2,2022-11-21 19:00:00,Al Thumama Stadium,Group A
3,4,United States,Wales,1–1,2022-11-21 22:00:00,Ahmed bin Ali Stadium,NaN
4,5,Argentina,Saudi Arabia,1–2,2022-11-22 13:00:00,Lusail Iconic Stadium,NaN
...,...,...,...,...,...,...,...
59,60,England,France,1–2,2022-12-10 22:00:00,Al Bayt Stadium,Quarter-final
60,61,Argentina,Croatia,3–0,2022-12-13 22:00:00,Lusail Iconic Stadium,Semi-final
61,62,France,Morocco,2–0,2022-12-14 22:00:00,Al Bayt Stadium,Semi-final
62,63,Croatia,Morocco,2–1,2022-12-17 18:00:00,Khalifa International Stadium,Play-off for third place
63,64,Argentina,France,(4) 3–3 (2),2022-12-18 18:00:00,Lusail Iconic Stadium,Final

In [517]:
# Changer la valeur de la colonne de catefory pour les lignes qui ont la valeur brazil et korea republic dans home_team et away_team 
df_2022.loc[(df_2022['home_team'] == 'Brazil') & (df_2022['away_team'] == 'Korea Republic'), 'category' ] = 'Round of 16'
df_2022.loc[(df_2022['home_team'] == 'Netherlands') & (df_2022['away_team'] == 'United States'), 'category' ] = 'Round of 16'
df_2022

,match,home_team,away_team,score,match_time,venue,category
0,1,Qatar,Ecuador,0–2,2022-11-20 19:00:00,Al Bayt Stadium,Group A
1,2,England,IR Iran,6–2,2022-11-21 16:00:00,Khalifa International Stadium,NaN
2,3,Senegal,Netherlands,0–2,2022-11-21 19:00:00,Al Thumama Stadium,Group A
3,4,United States,Wales,1–1,2022-11-21 22:00:00,Ahmed bin Ali Stadium,NaN
4,5,Argentina,Saudi Arabia,1–2,2022-11-22 13:00:00,Lusail Iconic Stadium,NaN
...,...,...,...,...,...,...,...
59,60,England,France,1–2,2022-12-10 22:00:00,Al Bayt Stadium,Quarter-final
60,61,Argentina,Croatia,3–0,2022-12-13 22:00:00,Lusail Iconic Stadium,Semi-final
61,62,France,Morocco,2–0,2022-12-14 22:00:00,Al Bayt Stadium,Semi-final
62,63,Croatia,Morocco,2–1,2022-12-17 18:00:00,Khalifa International Stadium,Play-off for third place
63,64,Argentina,France,(4) 3–3 (2),2022-12-18 18:00:00,Lusail Iconic Stadium,Final

In [518]:
# Split la colonne match_time
df_2022['date'] = df_2022['match_time'].str.split('-').str[0]

In [519]:
df_2022['home_score'] = df_2022['score'].str.split('–').str[0]
df_2022['away_score'] = df_2022['score'].str.split('–').str[1]
df_2022.drop(columns=['score', 'match_time'], inplace=True)

df_2022

,match,home_team,away_team,venue,category,date,home_score,away_score
0,1,Qatar,Ecuador,Al Bayt Stadium,Group A,2022,0,2
1,2,England,IR Iran,Khalifa International Stadium,NaN,2022,6,2
2,3,Senegal,Netherlands,Al Thumama Stadium,Group A,2022,0,2
3,4,United States,Wales,Ahmed bin Ali Stadium,NaN,2022,1,1
4,5,Argentina,Saudi Arabia,Lusail Iconic Stadium,NaN,2022,1,2
...,...,...,...,...,...,...,...,...
59,60,England,France,Al Bayt Stadium,Quarter-final,2022,1,2
60,61,Argentina,Croatia,Lusail Iconic Stadium,Semi-final,2022,3,0
61,62,France,Morocco,Al Bayt Stadium,Semi-final,2022,2,0
62,63,Croatia,Morocco,Khalifa International Stadium,Play-off for third place,2022,2,1
63,64,Argentina,France,Lusail Iconic Stadium,Final,2022,(4) 3,3 (2)

In [520]:
# Remplacer toutes les nan par des Group dans la colonne category
df_2022['category'] = df_2022['category'].fillna('Group')

In [521]:
def round_clean(x):
    if x == 'Final' or x == 'FINAL_ROUND':
        return 'final'
    elif x == 'Semi-final':
        return 'semifinal'
    elif x.startswith('PRELIMINARY'):
        return 'preliminary'
    elif type(x) == float:
        return 'group'
    elif x.startswith('Group'):
        return 'group'
    elif x == 'Quarter-final':
        return 'quarterfinal'
    elif x == 'Round of 16':
        return 'eighthfinal'
    elif x == 'Play-off for third place':
        return 'littlefinal'
    else :
        return "group"
    
df_2022['round'] = df_2022['category'].apply(round_clean)
df_2022

,match,home_team,away_team,venue,category,date,home_score,away_score,round
0,1,Qatar,Ecuador,Al Bayt Stadium,Group A,2022,0,2,group
1,2,England,IR Iran,Khalifa International Stadium,Group,2022,6,2,group
2,3,Senegal,Netherlands,Al Thumama Stadium,Group A,2022,0,2,group
3,4,United States,Wales,Ahmed bin Ali Stadium,Group,2022,1,1,group
4,5,Argentina,Saudi Arabia,Lusail Iconic Stadium,Group,2022,1,2,group
...,...,...,...,...,...,...,...,...,...
59,60,England,France,Al Bayt Stadium,Quarter-final,2022,1,2,quarterfinal
60,61,Argentina,Croatia,Lusail Iconic Stadium,Semi-final,2022,3,0,semifinal
61,62,France,Morocco,Al Bayt Stadium,Semi-final,2022,2,0,semifinal
62,63,Croatia,Morocco,Khalifa International Stadium,Play-off for third place,2022,2,1,littlefinal
63,64,Argentina,France,Lusail Iconic Stadium,Final,2022,(4) 3,3 (2),final

In [522]:
df_2022.drop(columns=['category'], inplace=True)

In [523]:
# Créer une colone id_mach qui commenece à 6416 
df_2022['id_match'] = range(6560, 6560 + len(df_2022))
df_2022

,match,home_team,away_team,venue,date,home_score,away_score,round,id_match
0,1,Qatar,Ecuador,Al Bayt Stadium,2022,0,2,group,6560
1,2,England,IR Iran,Khalifa International Stadium,2022,6,2,group,6561
2,3,Senegal,Netherlands,Al Thumama Stadium,2022,0,2,group,6562
3,4,United States,Wales,Ahmed bin Ali Stadium,2022,1,1,group,6563
4,5,Argentina,Saudi Arabia,Lusail Iconic Stadium,2022,1,2,group,6564
...,...,...,...,...,...,...,...,...,...
59,60,England,France,Al Bayt Stadium,2022,1,2,quarterfinal,6619
60,61,Argentina,Croatia,Lusail Iconic Stadium,2022,3,0,semifinal,6620
61,62,France,Morocco,Al Bayt Stadium,2022,2,0,semifinal,6621
62,63,Croatia,Morocco,Khalifa International Stadium,2022,2,1,littlefinal,6622
63,64,Argentina,France,Lusail Iconic Stadium,2022,(4) 3,3 (2),final,6623

In [524]:
df_2022['home_score'] = df_2022['home_score'].apply(
    lambda x: x.split(' ')[1] if len(x) > 2 else x
)

df_2022['away_score'] = df_2022['away_score'].str.split(' ').str[0]

df_2022

,match,home_team,away_team,venue,date,home_score,away_score,round,id_match
0,1,Qatar,Ecuador,Al Bayt Stadium,2022,0,2,group,6560
1,2,England,IR Iran,Khalifa International Stadium,2022,6,2,group,6561
2,3,Senegal,Netherlands,Al Thumama Stadium,2022,0,2,group,6562
3,4,United States,Wales,Ahmed bin Ali Stadium,2022,1,1,group,6563
4,5,Argentina,Saudi Arabia,Lusail Iconic Stadium,2022,1,2,group,6564
...,...,...,...,...,...,...,...,...,...
59,60,England,France,Al Bayt Stadium,2022,1,2,quarterfinal,6619
60,61,Argentina,Croatia,Lusail Iconic Stadium,2022,3,0,semifinal,6620
61,62,France,Morocco,Al Bayt Stadium,2022,2,0,semifinal,6621
62,63,Croatia,Morocco,Khalifa International Stadium,2022,2,1,littlefinal,6622
63,64,Argentina,France,Lusail Iconic Stadium,2022,3,3,final,6623

In [525]:
df_2022['venue'].unique()

villes = { 
    'Al Bayt Stadium': 'Al-Khor', 
    'Khalifa International Stadium': 'Al Rayyan',
    'Al Thumama Stadium': 'Doha', 
    'Ahmed bin Ali Stadium': 'Al Rayyan',
    'Lusail Iconic Stadium': 'Lusail', 
    'Education City Stadium': 'Al Rayyan', 
    'Stadium 974' : 'Doha',
    'Al Janoub Stadium': 'Al Wakrah',
}

df_2022['city'] = df_2022['venue'].map(villes)
df_2022.drop(columns=['venue'], inplace=True)

In [526]:
df_2022['edition'] = '2022-QATAR'

In [527]:
df_2022 = df_2022.rename(columns={
    'home_team': 'home_team',
    'away_team': 'away_team',
    'home_score': 'home_result',
    'away_score': 'away_result',
    'date': 'date',
    'round': 'round'
})

df_2022.drop(columns=['match'], inplace=True)

In [528]:
# Concat les 2 dataframe
df = pd.concat([df, df_2022]).reset_index(drop=True)
df

,id_match,home_team,away_team,home_result,away_result,date,round,city,edition
0,1,France,Mexico,4,1,1930,group,Montevideo,1930-URUGUAY
1,2,USA,Belgium,3,0,1930,group,Montevideo,1930-URUGUAY
2,3,Yugoslavia,Brazil,2,1,1930,group,Montevideo,1930-URUGUAY
3,4,Romania,Peru,3,1,1930,group,Montevideo,1930-URUGUAY
4,5,Argentina,France,1,0,1930,group,Montevideo,1930-URUGUAY
...,...,...,...,...,...,...,...,...,...
6618,6619,England,France,1,2,2022,quarterfinal,Al-Khor,2022-QATAR
6619,6620,Argentina,Croatia,3,0,2022,semifinal,Lusail,2022-QATAR
6620,6621,France,Morocco,2,0,2022,semifinal,Al-Khor,2022-QATAR
6621,6622,Croatia,Morocco,2,1,2022,littlefinal,Al Rayyan,2022-QATAR
6622,6623,Argentina,France,3,3,2022,final,Lusail,2022-QATAR

# Questions

1 - quel pays a gagné le + de matchs en coupe du monde ?
\ Il faut les données sur les matchs nuls avec les resultats des tirs aux buts.

2 - quel est le top 5 des vainqueurs de coupe du monde (finale) ?
\ Même choses, il faut les résultats des matches nuls. 

3 - quel est le plus grand écart de buts dans un match ?
\ On a les données c'est bon.

4 - combien de matchs nuls au total ?
\ On a les données c'est bon.

5 - quel pays est allé le plus souvent en phase finale (à partir des 8ème de finale) de cdm ?
\ On a les données c'est bon.

In [529]:
# Pays ayant gagné le plus de matchs en coupe du monde df['winner'] prends la valeur de la colonne home_team si home_result > away_result sinon away_team
df_winner = df.copy()

def qui_gagne(x):
    if x['home_result'] > x['away_result']:
        return x['home_team']
    elif x['home_result'] == x['away_result']:
        return 'draw'
    else:
        return x['away_team']

df_winner['winner'] = df.apply(qui_gagne, axis=1)
df_winner['winner'].value_counts()

winner
draw              1408
Brazil             133
Mexico             109
Argentina          108
Italy              106
                  ...
Malta                1
Laos                 1
Guinea-Bissau        1
Western              1
Korea Republic       1
Name: count, Length: 200, dtype: int64

In [530]:
# Top 5

In [531]:
# Le plus grand ecart de buts dans un match 
df['diff'] = abs(df['home_result'].astype(int) - df['away_result'].astype(int))
df['diff'].sort_values(ascending=False)

4160    31
4157    22
4028    19
3434    17
4029    16
        ..
3691     0
3698     0
3700     0
3702     0
6622     0
Name: diff, Length: 6623, dtype: int64

In [532]:
# combien de matchs nuls au total ?
df_winner['winner'] = df_winner.apply(lambda x: 'draw' if x['home_result'] == x['away_result'] else x['winner'], axis=1)
df_winner['winner'].value_counts()['draw']

1408

In [534]:
# quel pays est allé le plus souvent en phase finale (à partir des 8ème de finale) de cdm ?
df_winner = df_winner[(df_winner['round'] != 'group') & (df_winner['round'] != 'preliminary')]
df_winner['winner'].value_counts()

winner
draw              52
Brazil            36
Italy             25
France            22
Germany           21
FRG               18
Argentina         17
Netherlands       16
England           10
Sweden             9
Uruguay            8
Spain              7
Czechoslovakia     7
Hungary            6
Poland             6
Belgium            6
Austria            5
Croatia            5
Portugal           4
Turkey             3
Colombia           2
Soviet             2
Yugoslavia         2
Chile              2
Switzerland        2
Mexico             1
Cameroon           1
Romania            1
Bulgaria           1
Denmark            1
Senegal            1
USA                1
Cuba               1
South              1
Ghana              1
Morocco            1
Name: count, dtype: int64